In [1]:
import pandas as pd

In [2]:
dt=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data')
# dt=pd.read_csv(r'e:\ucicancer.csv')
# dt=pd.read_csv('ucicancer.csv')
dt

     1000025   5   1  1.1  1.2  2 1.3   3  1.4  1.5  2.1
0    1002945   5   4    4    5  7  10   3    2    1    2
1    1015425   3   1    1    1  2   2   3    1    1    2
2    1016277   6   8    8    1  3   4   3    7    1    2
3    1017023   4   1    1    3  2   1   3    1    1    2
4    1017122   8  10   10    8  7  10   9    7    1    4
5    1018099   1   1    1    1  2  10   3    1    1    2
6    1018561   2   1    2    1  2   1   3    1    1    2
7    1033078   2   1    1    1  2   1   1    1    5    2
8    1033078   4   2    1    1  2   1   2    1    1    2
9    1035283   1   1    1    1  1   1   3    1    1    2
10   1036172   2   1    1    1  2   1   2    1    1    2
11   1041801   5   3    3    3  2   3   4    4    1    4
12   1043999   1   1    1    1  2   3   3    1    1    2
13   1044572   8   7    5   10  7   9   5    5    4    4
14   1047630   7   4    6    4  6   1   4    3    1    4
15   1048672   4   1    1    1  2   1   2    1    1    2
16   1049815   4   1    1    1  2   1   3    1    1    2
17   1050670  10   7    7    6  4  10   4    1    2    4
18   1050718   6   1    1    1  2   1   3    1    1    2
19   1054590   7   3    2   10  5  10   5    4    4    4
20   1054593  10   5    5    3  6   7   7   10    1    4
21   1056784   3   1    1    1  2   1   2    1    1    2
22   1057013   8   4    5    1  2   ?   7    3    1    4
23   1059552   1   1    1    1  2   1   3    1    1    2
24   1065726   5   2    3    4  2   7   3    6    1    4
25   1066373   3   2    1    1  1   1   2    1    1    2
26   1066979   5   1    1    1  2   1   2    1    1    2
27   1067444   2   1    1    1  2   1   2    1    1    2
28   1070935   1   1    3    1  2   1   1    1    1    2
29   1070935   3   1    1    1  1   1   2    1    1    2
..       ...  ..  ..  ...  ... ..  ..  ..  ...  ...  ...
668  1350423   5  10   10    8  5   5   7   10    1    4
669  1352848   3  10    7    8  5   8   7    4    1    4
670  1353092   3   2    1    2  2   1   3    1    1    2
671  1354840   2   1    1    1  2   1   3    1    1    2
672  1354840   5   3    2    1  3   1   1    1    1    2
673  1355260   1   1    1    1  2   1   2    1    1    2
674  1365075   4   1    4    1  2   1   1    1    1    2
675  1365328   1   1    2    1  2   1   2    1    1    2
676  1368267   5   1    1    1  2   1   1    1    1    2
677  1368273   1   1    1    1  2   1   1    1    1    2
678  1368882   2   1    1    1  2   1   1    1    1    2
679  1369821  10  10   10   10  5  10  10   10    7    4
680  1371026   5  10   10   10  4  10   5    6    3    4
681  1371920   5   1    1    1  2   1   3    2    1    2
682   466906   1   1    1    1  2   1   1    1    1    2
683   466906   1   1    1    1  2   1   1    1    1    2
684   534555   1   1    1    1  2   1   1    1    1    2
685   536708   1   1    1    1  2   1   1    1    1    2
686   566346   3   1    1    1  2   1   2    3    1    2
687   603148   4   1    1    1  2   1   1    1    1    2
688   654546   1   1    1    1  2   1   1    1    8    2
689   654546   1   1    1    3  2   1   1    1    1    2
690   695091   5  10   10    5  4   5   4    4    1    4
691   714039   3   1    1    1  2   1   1    1    1    2
692   763235   3   1    1    1  2   1   2    1    2    2
693   776715   3   1    1    1  3   2   1    1    1    2
694   841769   2   1    1    1  2   1   1    1    1    2
695   888820   5  10   10    3  7   3   8   10    2    4
696   897471   4   8    6    4  3   4  10    6    1    4
697   897471   4   8    8    5  4   5  10    4    1    4

[698 rows x 11 columns]

In [3]:
dt.shape,dt.dtypes,dt.columns

((698, 11), 1000025     int64
 5           int64
 1           int64
 1.1         int64
 1.2         int64
 2           int64
 1.3        object
 3           int64
 1.4         int64
 1.5         int64
 2.1         int64
 dtype: object, Index(['1000025', '5', '1', '1.1', '1.2', '2', '1.3', '3', '1.4', '1.5',
        '2.1'],
       dtype='object'))

In [4]:
# dt.columns=list('abcdefghij')+['class']

In [5]:
# dt.to_csv(r'e:\ucicancer.csv')

In [6]:
dts=pd.read_csv('https://bit.ly/imdbratings')
# dts.to_csv('C:\Users\hp\Desktop\Cetpe M.L 22 june 2019\pandas\file.csv')

In [7]:
dts.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [8]:
dts[0:1]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."

In [9]:
dts.tail(1)

,star_rating,title,content_rating,genre,duration,actors_list
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [10]:
dts.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [11]:
dts.loc[0]
dts.columns

Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actors_list'],
      dtype='object')

In [12]:
dts.shape

(979, 6)

In [13]:
dts[-1:-3:-1]

,star_rating,title,content_rating,genre,duration,actors_list
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."

In [14]:
dts.shape

(979, 6)

In [15]:
dts.dtypes

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

In [16]:
dts.columns

Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actors_list'],
      dtype='object')

In [17]:
dts1=pd.read_csv('https://bit.ly/imdbratings',nrows=100,usecols=[0,4,5])
dts1

    star_rating  duration                                        actors_list
0           9.3       142  [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1           9.2       175    [u'Marlon Brando', u'Al Pacino', u'James Caan']
2           9.1       200  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3           9.0       152  [u'Christian Bale', u'Heath Ledger', u'Aaron E...
4           8.9       154  [u'John Travolta', u'Uma Thurman', u'Samuel L....
5           8.9        96  [u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals...
6           8.9       161  [u'Clint Eastwood', u'Eli Wallach', u'Lee Van ...
7           8.9       201  [u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...
8           8.9       195  [u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings...
9           8.9       139  [u'Brad Pitt', u'Edward Norton', u'Helena Bonh...
10          8.8       178  [u'Elijah Wood', u'Ian McKellen', u'Orlando Bl...
11          8.8       148  [u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'...
12          8.8       124  [u'Mark Hamill', u'Harrison Ford', u'Carrie Fi...
13          8.8       142    [u'Tom Hanks', u'Robin Wright', u'Gary Sinise']
14          8.8       179  [u'Elijah Wood', u'Ian McKellen', u'Viggo Mort...
15          8.7       169  [u'Matthew McConaughey', u'Anne Hathaway', u'J...
16          8.7       133  [u'Jack Nicholson', u'Louise Fletcher', u'Mich...
17          8.7       207  [u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K...
18          8.7       146   [u'Robert De Niro', u'Ray Liotta', u'Joe Pesci']
19          8.7       121  [u'Mark Hamill', u'Harrison Ford', u'Carrie Fi...
20          8.7       136  [u'Keanu Reeves', u'Laurence Fishburne', u'Car...
21          8.7       130  [u'Alexandre Rodrigues', u'Matheus Nachtergael...
22          8.7       130  [u'James Stewart', u'Donna Reed', u'Lionel Bar...
23          8.7       106  [u'Kevin Spacey', u'Gabriel Byrne', u'Chazz Pa...
24          8.7       127  [u'Morgan Freeman', u'Brad Pitt', u'Kevin Spac...
25          8.6       116  [u'Roberto Benigni', u'Nicoletta Braschi', u'G...
26          8.6       175  [u'Henry Fonda', u'Charles Bronson', u'Claudia...
27          8.6       118  [u'Jodie Foster', u'Anthony Hopkins', u'Lawren...
28          8.6       110  [u'Jean Reno', u'Gary Oldman', u'Natalie Portm...
29          8.6        87  [u'Charles Chaplin', u'Virginia Cherrill', u'F...
..          ...       ...                                                ...
70          8.4       122  [u'Audrey Tautou', u'Mathieu Kassovitz', u'Ruf...
71          8.4       136  [u'Cary Grant', u'Eva Marie Saint', u'James Ma...
72          8.4       157    [u'Aamir Khan', u'Soha Ali Khan', u'Siddharth']
73          8.4       123  [u'Peyman Moaadi', u'Leila Hatami', u'Sareh Ba...
74          8.4       119  [u'Orson Welles', u'Joseph Cotten', u'Dorothy ...
75          8.4       137  [u'Sigourney Weaver', u'Michael Biehn', u'Carr...
76          8.4       128  [u'James Stewart', u'Kim Novak', u'Barbara Bel...
77          8.4       120  [u'Min-sik Choi', u'Ji-tae Yu', u'Hye-jeong Ka...
78          8.4       229  [u'Robert De Niro', u'James Woods', u'Elizabet...
79          8.4       107  [u'Fred MacMurray', u'Barbara Stanwyck', u'Edw...
80          8.4       134  [u'Mark Hamill', u'Harrison Ford', u'Carrie Fi...
81          8.4       103       [u'Tom Hanks', u'Tim Allen', u'Joan Cusack']
82          8.4       177  [u'Mel Gibson', u'Sophie Marceau', u'Patrick M...
83          8.4       129  [u'Gregory Peck', u'John Megna', u'Frank Overt...
84          8.4       102  [u'Ellen Burstyn', u'Jared Leto', u'Jennifer C...
85          8.4       216  [u"Peter O'Toole", u'Alec Guinness', u'Anthony...
86          8.4       136  [u'Malcolm McDowell', u'Patrick Magee', u'Mich...
87          8.4        93  [u'Lamberto Maggiorani', u'Enzo Staiola', u'Li...
88          8.4        68  [u'Charles Chaplin', u'Edna Purviance', u'Jack...
89          8.4       189  [u'Shah Rukh Khan', u'Gayatri Joshi', u'Kishor...
90          8.4        99  [u'Harvey Keitel', u'Tim Roth', u'Michael Mads...
91          8.4       108  [u'Jim Carrey', u'Kate Winslet', u'Tom Wilkins...
92          8.4       113  [u'Robert De Niro', u'Jodie Foster', u'Cybill ...
93          8.4       181      [u'Shah Rukh Khan', u'Kajol', u'Amrish Puri']
94          8.4       103  [u'Gene Kelly', u"Donald O'Connor", u'Debbie R...
95          8.4       138  [u'Bette Davis', u'Anne Baxter', u'George Sand...
96          8.4       110  [u'Toshir\xf4 Mifune', u'Eijir\xf4 T\xf4no', u...
97          8.4       129  [u'Paul Newman', u'Robert Redford', u'Robert S...
98          8.4        88  [u'Toshir\xf4 Mifune', u'Machiko Ky\xf4', u'Ma...
99          8.4       160  [u'F. Murray Abraham', u'Tom Hulce', u'Elizabe...

[100 rows x 3 columns]

In [18]:
dts1.shape,dts1.columns

((100, 3), Index(['star_rating', 'duration', 'actors_list'], dtype='object'))

In [19]:
dts.shape,dts.columns

((979, 6),
 Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
        'actors_list'],
       dtype='object'))

In [20]:
x=dts['duration']>200
dts[x]

,star_rating,title,content_rating,genre,duration,actors_list
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
85,8.4,Lawrence of Arabia,PG,Adventure,216,"[u""Peter O'Toole"", u'Alec Guinness', u'Anthony..."
142,8.3,Lagaan: Once Upon a Time in India,PG,Adventure,224,"[u'Aamir Khan', u'Gracy Singh', u'Rachel Shell..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
204,8.1,Ben-Hur,G,Adventure,212,"[u'Charlton Heston', u'Jack Hawkins', u'Stephe..."
445,7.9,The Ten Commandments,APPROVED,Adventure,220,"[u'Charlton Heston', u'Yul Brynner', u'Anne Ba..."
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."
630,7.7,Malcolm X,PG-13,Biography,202,"[u'Denzel Washington', u'Angela Bassett', u'De..."
767,7.6,"It's a Mad, Mad, Mad, Mad World",APPROVED,Action,205,"[u'Spencer Tracy', u'Milton Berle', u'Ethel Me..."

In [21]:
# y=dts['genre']==

In [22]:
type(dts),type(x)

(pandas.core.frame.DataFrame, pandas.core.series.Series)

In [23]:
x.ndim,dts.ndim

(1, 2)

In [24]:
dts[dts.duration>200]

,star_rating,title,content_rating,genre,duration,actors_list
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
85,8.4,Lawrence of Arabia,PG,Adventure,216,"[u""Peter O'Toole"", u'Alec Guinness', u'Anthony..."
142,8.3,Lagaan: Once Upon a Time in India,PG,Adventure,224,"[u'Aamir Khan', u'Gracy Singh', u'Rachel Shell..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
204,8.1,Ben-Hur,G,Adventure,212,"[u'Charlton Heston', u'Jack Hawkins', u'Stephe..."
445,7.9,The Ten Commandments,APPROVED,Adventure,220,"[u'Charlton Heston', u'Yul Brynner', u'Anne Ba..."
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."
630,7.7,Malcolm X,PG-13,Biography,202,"[u'Denzel Washington', u'Angela Bassett', u'De..."
767,7.6,"It's a Mad, Mad, Mad, Mad World",APPROVED,Action,205,"[u'Spencer Tracy', u'Milton Berle', u'Ethel Me..."

In [25]:
dts[(dts.duration>200) & ((dts.genre=='Drama')|(dts.genre=='Action'))]

,star_rating,title,content_rating,genre,duration,actors_list
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."
767,7.6,"It's a Mad, Mad, Mad, Mad World",APPROVED,Action,205,"[u'Spencer Tracy', u'Milton Berle', u'Ethel Me..."

In [26]:
dts[(dts.duration>200) & (dts.genre.isin(['Drama','Comedy','Crime']))]

,star_rating,title,content_rating,genre,duration,actors_list
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."

In [27]:
dts.genre.value_counts()

Drama        278
Comedy       156
Action       136
Crime        124
Biography     77
Adventure     75
Animation     62
Horror        29
Mystery       16
Western        9
Thriller       5
Sci-Fi         5
Film-Noir      3
Family         2
History        1
Fantasy        1
Name: genre, dtype: int64

In [28]:
dts.genre.value_counts(normalize=True)

# percentage

Drama        0.283963
Comedy       0.159346
Action       0.138917
Crime        0.126660
Biography    0.078652
Adventure    0.076609
Animation    0.063330
Horror       0.029622
Mystery      0.016343
Western      0.009193
Thriller     0.005107
Sci-Fi       0.005107
Film-Noir    0.003064
Family       0.002043
History      0.001021
Fantasy      0.001021
Name: genre, dtype: float64

In [29]:
dts[dts.genre=='Drama'].duration.describe()

count    278.000000
mean     126.539568
std       25.637086
min       64.000000
25%      108.000000
50%      123.000000
75%      138.000000
max      242.000000
Name: duration, dtype: float64

In [30]:
dts[dts.genre=='Drama'][['duration','star_rating']].agg(['count','max','min','mean'])

         duration  star_rating
count  278.000000   278.000000
max    242.000000     8.900000
min     64.000000     7.400000
mean   126.539568     7.902518

In [31]:
dts.genre.unique()

array(['Crime', 'Action', 'Drama', 'Western', 'Adventure', 'Biography',
       'Comedy', 'Animation', 'Mystery', 'Horror', 'Film-Noir', 'Sci-Fi',
       'History', 'Thriller', 'Family', 'Fantasy'], dtype=object)

In [32]:
dts.genre.nunique()

16

In [33]:
for i in dts.genre.unique():
    print(i,dts[dts.genre==i]
          [['duration','star_rating']].agg(['mean']))

Crime         duration  star_rating
mean  122.298387     7.916935
Action         duration  star_rating
mean  126.485294     7.884559
Drama         duration  star_rating
mean  126.539568     7.902518
Western         duration  star_rating
mean  136.666667     8.255556
Adventure       duration  star_rating
mean    134.84     7.933333
Biography         duration  star_rating
mean  131.844156     7.862338
Comedy         duration  star_rating
mean  107.602564     7.822436
Animation        duration  star_rating
mean  96.596774     7.914516
Mystery       duration  star_rating
mean   115.625        7.975
Horror         duration  star_rating
mean  102.517241     7.806897
Film-Noir        duration  star_rating
mean  97.333333     8.033333
Sci-Fi       duration  star_rating
mean     109.0         7.92
History       duration  star_rating
mean      66.0          8.0
Thriller       duration  star_rating
mean     114.2         7.68
Family       duration  star_rating
mean     107.5         7.85
Fantasy       duration  star_rating
mean     112.0          7.7

In [34]:
dts.groupby('genre')[['duration','star_rating']].agg(['mean'])

             duration star_rating
                 mean        mean
genre
Action     126.485294    7.884559
Adventure  134.840000    7.933333
Animation   96.596774    7.914516
Biography  131.844156    7.862338
Comedy     107.602564    7.822436
Crime      122.298387    7.916935
Drama      126.539568    7.902518
Family     107.500000    7.850000
Fantasy    112.000000    7.700000
Film-Noir   97.333333    8.033333
History     66.000000    8.000000
Horror     102.517241    7.806897
Mystery    115.625000    7.975000
Sci-Fi     109.000000    7.920000
Thriller   114.200000    7.680000
Western    136.666667    8.255556

In [35]:
dts[dts.actors_list.str.contains('Khan')]

,star_rating,title,content_rating,genre,duration,actors_list
47,8.5,Taare Zameen Par,PG,Drama,165,"[u'Darsheel Safary', u'Aamir Khan', u'Tanay Ch..."
60,8.5,3 Idiots,PG-13,Comedy,170,"[u'Aamir Khan', u'Madhavan', u'Mona Singh']"
72,8.4,Rang De Basanti,NOT RATED,Drama,157,"[u'Aamir Khan', u'Soha Ali Khan', u'Siddharth']"
89,8.4,Swades,NOT RATED,Drama,189,"[u'Shah Rukh Khan', u'Gayatri Joshi', u'Kishor..."
93,8.4,Dilwale Dulhania Le Jayenge,NOT RATED,Comedy,181,"[u'Shah Rukh Khan', u'Kajol', u'Amrish Puri']"
109,8.3,Dil Chahta Hai,NOT RATED,Comedy,183,"[u'Aamir Khan', u'Saif Ali Khan', u'Akshaye Kh..."
142,8.3,Lagaan: Once Upon a Time in India,PG,Adventure,224,"[u'Aamir Khan', u'Gracy Singh', u'Rachel Shell..."
336,8.0,Life of Pi,PG,Adventure,127,"[u'Suraj Sharma', u'Irrfan Khan', u'Adil Hussa..."
373,8.0,My Name Is Khan,PG-13,Drama,165,"[u'Shah Rukh Khan', u'Kajol', u'Sheetal Menon']"
718,7.6,The Kite Runner,PG-13,Drama,128,"[u'Khalid Abdalla', u'Ahmad Khan Mahmoodzada',..."

In [36]:
dts.actors_list.unique()

array(["[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunton']",
       "[u'Marlon Brando', u'Al Pacino', u'James Caan']",
       "[u'Al Pacino', u'Robert De Niro', u'Robert Duvall']",
       "[u'Christian Bale', u'Heath Ledger', u'Aaron Eckhart']",
       "[u'John Travolta', u'Uma Thurman', u'Samuel L. Jackson']",
       "[u'Henry Fonda', u'Lee J. Cobb', u'Martin Balsam']",
       "[u'Clint Eastwood', u'Eli Wallach', u'Lee Van Cleef']",
       "[u'Elijah Wood', u'Viggo Mortensen', u'Ian McKellen']",
       "[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kingsley']",
       "[u'Brad Pitt', u'Edward Norton', u'Helena Bonham Carter']",
       "[u'Elijah Wood', u'Ian McKellen', u'Orlando Bloom']",
       "[u'Leonardo DiCaprio', u'Joseph Gordon-Levitt', u'Ellen Page']",
       "[u'Mark Hamill', u'Harrison Ford', u'Carrie Fisher']",
       "[u'Tom Hanks', u'Robin Wright', u'Gary Sinise']",
       "[u'Elijah Wood', u'Ian McKellen', u'Viggo Mortensen']",
       "[u'Matthew McConaughey', u'Anne Hathaway', u'Jessica Chastain']",
       "[u'Jack Nicholson', u'Louise Fletcher', u'Michael Berryman']",
       "[u'Toshir\\xf4 Mifune', u'Takashi Shimura', u'Keiko Tsushima']",
       "[u'Robert De Niro', u'Ray Liotta', u'Joe Pesci']",
       "[u'Keanu Reeves', u'Laurence Fishburne', u'Carrie-Anne Moss']",
       "[u'Alexandre Rodrigues', u'Matheus Nachtergaele', u'Leandro Firmino']",
       "[u'James Stewart', u'Donna Reed', u'Lionel Barrymore']",
       "[u'Kevin Spacey', u'Gabriel Byrne', u'Chazz Palminteri']",
       "[u'Morgan Freeman', u'Brad Pitt', u'Kevin Spacey']",
       "[u'Roberto Benigni', u'Nicoletta Braschi', u'Giorgio Cantarini']",
       "[u'Henry Fonda', u'Charles Bronson', u'Claudia Cardinale']",
       "[u'Jodie Foster', u'Anthony Hopkins', u'Lawrence A. Bonney']",
       "[u'Jean Reno', u'Gary Oldman', u'Natalie Portman']",
       "[u'Charles Chaplin', u'Virginia Cherrill', u'Florence Lee']",
       "[u'Daveigh Chase', u'Suzanne Pleshette', u'Miyu Irino']",
       "[u'Fran\\xe7ois Cluzet', u'Omar Sy', u'Anne Le Ny']",
       "[u'Humphrey Bogart', u'Ingrid Bergman', u'Paul Henreid']",
       "[u'Miles Teller', u'J.K. Simmons', u'Melissa Benoist']",
       '[u\'Edward Norton\', u\'Edward Furlong\', u"Beverly D\'Angelo"]',
       "[u'Charles Chaplin', u'Paulette Goddard', u'Henry Bergman']",
       "[u'Tom Hanks', u'Matt Damon', u'Tom Sizemore']",
       "[u'Harrison Ford', u'Karen Allen', u'Paul Freeman']",
       "[u'James Stewart', u'Grace Kelly', u'Wendell Corey']",
       "[u'Anthony Perkins', u'Janet Leigh', u'Vera Miles']",
       "[u'Tom Hanks', u'Michael Clarke Duncan', u'David Morse']",
       "[u'William Holden', u'Gloria Swanson', u'Erich von Stroheim']",
       "[u'Adrien Brody', u'Thomas Kretschmann', u'Frank Finlay']",
       "[u'Christian Bale', u'Tom Hardy', u'Anne Hathaway']",
       "[u'Russell Crowe', u'Joaquin Phoenix', u'Connie Nielsen']",
       "[u'Arnold Schwarzenegger', u'Linda Hamilton', u'Edward Furlong']",
       "[u'Guy Pearce', u'Carrie-Anne Moss', u'Joe Pantoliano']",
       "[u'Darsheel Safary', u'Aamir Khan', u'Tanay Chheda']",
       "[u'Peter Sellers', u'George C. Scott', u'Sterling Hayden']",
       "[u'Leonardo DiCaprio', u'Matt Damon', u'Jack Nicholson']",
       "[u'Philippe Noiret', u'Enzo Cannavale', u'Antonella Attili']",
       "[u'Martin Sheen', u'Marlon Brando', u'Robert Duvall']",
       "[u'Charles Chaplin', u'Paulette Goddard', u'Jack Oakie']",
       "[u'Christian Bale', u'Hugh Jackman', u'Scarlett Johansson']",
       "[u'Michael J. Fox', u'Christopher Lloyd', u'Lea Thompson']",
       "[u'Matthew Broderick', u'Jeremy Irons', u'James Earl Jones']",
       "[u'Ulrich M\\xfche', u'Martina Gedeck', u'Sebastian Koch']",
       "[u'Sigourney Weaver', u'Tom Skerritt', u'John Hurt']",
       "[u'Kirk Douglas', u'Ralph Meeker', u'Adolphe Menjou']",
       "[u'Jamie Foxx', u'Christoph Waltz', u'Leonardo DiCaprio']",
       "[u'Aamir Khan', u'Madhavan', u'Mona Singh']",
       "[u'Tsutomu Tatsumi', u'Ayano Shiraishi', u'Akemi Yamaguchi']",
       "[u'Jack Nicholson', u'Shelley Duvall', u'Danny Lloyd']",
       "[u'Peter Lorre', u'Ellen Widmann', u'Inge Landgut']",
       "[u'Ben Burtt', u'Elissa Knight', u'Jeff Garlin']",
       "[u'Tyrone Power', u'Marlene Dietrich', u'Charles Laughton']",
       "[u'Sunil Dutt', u'Sanjay Dutt', u'Arshad Warsi']",
       "[u'Kevin Spacey', u'Annette Bening', u'Thora Birch']",
       "[u'J\\xfcrgen Prochnow', u'Herbert Gr\\xf6nemeyer', u'Klaus Wennemann']",
       "[u'Y\\xf4ji Matsuda', u'Yuriko Ishida', u'Y\\xfbko Tanaka']",
       "[u'Audrey Tautou', u'Mathieu Kassovitz', u'Rufus']",
       "[u'Cary Grant', u'Eva Marie Saint', u'James Mason']",
       "[u'Aamir Khan', u'Soha Ali Khan', u'Siddharth']",
       "[u'Peyman Moaadi', u'Leila Hatami', u'Sareh Bayat']",
       "[u'Orson Welles', u'Joseph Cotten', u'Dorothy Comingore']",
       "[u'Sigourney Weaver', u'Michael Biehn', u'Carrie Henn']",
       "[u'James Stewart', u'Kim Novak', u'Barbara Bel Geddes']",
       "[u'Min-sik Choi', u'Ji-tae Yu', u'Hye-jeong Kang']",
       "[u'Robert De Niro', u'James Woods', u'Elizabeth McGovern']",
       "[u'Fred MacMurray', u'Barbara Stanwyck', u'Edward G. Robinson']",
       "[u'Tom Hanks', u'Tim Allen', u'Joan Cusack']",
       "[u'Mel Gibson', u'Sophie Marceau', u'Patrick McGoohan']",
       "[u'Gregory Peck', u'John Megna', u'Frank Overton']",
       "[u'Ellen Burstyn', u'Jared Leto', u'Jennifer Connelly']",
       '[u"Peter O\'Toole", u\'Alec Guinness\', u\'Anthony Quinn\']',
       "[u'Malcolm McDowell', u'Patrick Magee', u'Michael Bates']",
       "[u'Lamberto Maggiorani', u'Enzo Staiola', u'Lianella Carell']",
       "[u'Charles Chaplin', u'Edna Purviance', u'Jackie Coogan']",
       "[u'Shah Rukh Khan', u'Gayatri Joshi', u'Kishori Balal']",
       "[u'Harvey Keitel', u'Tim Roth', u'Michael Madsen']",
       "[u'Jim Carrey', u'Kate Winslet', u'Tom Wilkinson']",
       "[u'Robert De Niro', u'Jodie Foster', u'Cybill Shepherd']",
       "[u'Shah Rukh Khan', u'Kajol', u'Amrish Puri']",
       '[u\'Gene Kelly\', u"Donald O\'Connor", u\'Debbie Reynolds\']',
       "[u'Bette Davis', u'Anne Baxter', u'George Sanders']",
       "[u'Toshir\\xf4 Mifune', u'Eijir\\xf4 T\\xf4no', u'Tatsuya Nakadai']",
       "[u'Paul Newman', u'Robert Redford', u'Robert Shaw']",
       "[u'Toshir\\xf4 Mifune', u'Machiko Ky\\xf4', u'Masayuki Mori']",
       "[u'F. Murray Abraham', u'Tom Hulce', u'Elizabeth Berridge']",
       "[u'Humphrey Bogart', u'Walter Huston', u'Tim Holt']",
       "[u'Graham Chapman', u'John Cleese', u'Eric Idle']",
       '[u\'Matthew Modine\', u\'R. Lee Ermey\', u"Vincent D\'Onofrio"]',
       "[u'Jack Lemmon', u'Shirley MacLaine', u'Fred MacMurray']",
       '[u\'Takashi Shimura\', u\'Nobuo Kaneko\', u"Shin\'ichi Himori"]',
       "[u'Orson Welles', u'Joseph Cotten', u'Alida Valli']",
       "[u'Jason Statham', u'Brad Pitt', u'Benicio Del Toro']",
       "[u'Clint Eastwood', u'Lee Van Cleef', u'Gian Maria Volont\\xe9']",
       "[u'Brigitte Helm', u'Alfred Abel', u'Gustav Fr\\xf6hlich']",
       "[u'Aamir Khan', u'Saif Ali Khan', u'Akshaye Khanna']",
       "[u'Keir Dullea', u'Gary Lockwood', u'William Sylvester']",
       "[u'Marilyn Monroe', u'Tony Curtis', u'Jack Lemmon']",
       "[u'Kevin Spacey', u'Russell Crowe', u'Guy Pearce']",
       "[u'Christian Bale', u'Michael Caine', u'Ken Watanabe']",
       "[u'Brad Pitt', u'Diane Kruger', u'Eli Roth']",
       "[u'Al Pacino', u'Michelle Pfeiffer', u'Steven Bauer']",
       "[u'James Stewart', u'Jean Arthur', u'Claude Rains']",
       "[u'Tom Hanks', u'Tim Allen', u'Don Rickles']",
       "[u'Harrison Ford', u'Sean Connery', u'Alison Doody']",
       "[u'Clint Eastwood', u'Gene Hackman', u'Morgan Freeman']",
       "[u'Steve McQueen', u'James Garner', u'Richard Attenborough']",
       "[u'Mads Mikkelsen', u'Thomas Bo Larsen', u'Annika Wedderkopp']",
       "[u'Marlon Brando', u'Karl Malden', u'Lee J. Cobb']",
       "[u'Buster Keaton', u'Marion Mack', u'Glen Cavender']",
       "[u'Robert De Niro', u'Cathy Moriarty', u'Joe Pesci']",
       "[u'Bruno Ganz', u'Alexandra Maria Lara', u'Ulrich Matthes']",
       "[u'Edward Asner', u'Jordan Nagai', u'John Ratzenberger']",
       "[u'Victor Sj\\xf6str\\xf6m', u'Bibi Andersson', u'Ingrid Thulin']",
       "[u'Charles Chaplin', u'Mack Swain', u'Tom Murray']",
       "[u'Tatsuya Nakadai', u'Akira Terao', u'Jinpachi Nezu']",
       "[u'Jack Nicholson', u'Faye Dunaway', u'John Huston']",
       "[u'Hitoshi Takagi', u'Noriko Hidaka', u'Chika Sakamoto']",
       "[u'Spencer Tracy', u'Burt Lancaster', u'Richard Widmark']",
       "[u'Ranbir Kapoor', u'Priyanka Chopra', u'Ileana']",
       "[u'Max von Sydow', u'Gunnar Bj\\xf6rnstrand', u'Bengt Ekerot']",
       "[u'Al Pacino', u'Robert De Niro', u'Val Kilmer']",
       "[u'Ivana Baquero', u'Ariadna Gil', u'Sergi L\\xf3pez']",
       "[u'William Holden', u'Alec Guinness', u'Jack Hawkins']",
       "[u'Bruce Willis', u'Alan Rickman', u'Bonnie Bedelia']",
       "[u'Robin Williams', u'Matt Damon', u'Ben Affleck']",
       "[u'Yves Montand', u'Charles Vanel', u'Peter van Eyck']",
       "[u'Ricardo Dar\\xedn', u'Soledad Villamil', u'Pablo Rago']",
       "[u'Aamir Khan', u'Gracy Singh', u'Rachel Shelley']",
       "[u'Leonardo DiCaprio', u'Jonah Hill', u'Margot Robbie']",
       "[u'Clark Gable', u'Claudette Colbert', u'Walter Connolly']",
       "[u'Harrison Ford', u'Rutger Hauer', u'Sean Young']",
       "[u'Tom Hardy', u'Nick Nolte', u'Joel Edgerton']",
       "[u'Chieko Baish\\xf4', u'Takuya Kimura', u'Tatsuya Gash\\xfbin']",
       "[u'Anthony Hopkins', u'John Hurt', u'Anne Bancroft']",
       "[u'Laurence Olivier', u'Joan Fontaine', u'George Sanders']",
       "[u'Lubna Azabal', u'M\\xe9lissa D\\xe9sormeaux-Poulin', u'Maxim Gaudette']",
       "[u'Jason Flemyng', u'Dexter Fletcher', u'Nick Moran']",
       "[u'Hugo Weaving', u'Natalie Portman', u'Rupert Graves']",
       "[u'Jeff Bridges', u'John Goodman', u'Julianne Moore']",
       "[u'Paul Newman', u'George Kennedy', u'Strother Martin']",
       "[u'Dar\\xedo Grandinetti', u'Mar\\xeda Marull', u'M\\xf3nica Villa']",
       "[u'Robert De Niro', u'Sharon Stone', u'Joe Pesci']",
       "[u'Clark Gable', u'Vivien Leigh', u'Thomas Mitchell']",
       "[u'Ben Affleck', u'Rosamund Pike', u'Neil Patrick Harris']",
       "[u'Fredric March', u'Dana Andrews', u'Myrna Loy']",
       "[u'Jay Baruchel', u'Gerard Butler', u'Christopher Mintz-Plasse']",
       "[u'Simone Signoret', u'V\\xe9ra Clouzot', u'Paul Meurisse']",
       "[u'Clint Eastwood', u'Bee Vang', u'Christopher Carley']",
       "[u'Daniel Br\\xfchl', u'Chris Hemsworth', u'Olivia Wilde']",
       "[u'Emile Hirsch', u'Vince Vaughn', u'Catherine Keener']",
       "[u'Tae-hyun Cha', u'Gianna Jun', u'In-mun Kim']",
       "[u'Robert De Niro', u'Christopher Walken', u'John Cazale']",
       "[u'Toni Collette', u'Philip Seymour Hoffman', u'Eric Bana']",
       "[u'Richard Gere', u'Joan Allen', u'Cary-Hiroyuki Tagawa']",
       "[u'Humphrey Bogart', u'Mary Astor', u'Gladys George']",
       "[u'Russell Crowe', u'Ed Harris', u'Jennifer Connelly']",
       "[u'Ray Milland', u'Grace Kelly', u'Robert Cummings']",
       "[u'Ewan McGregor', u'Ewen Bremner', u'Jonny Lee Miller']",
       "[u'Dong-gun Jang', u'Bin Won', u'Eun-ju Lee']",
       "[u'Bibi Andersson', u'Liv Ullmann', u'Margaretha Krook']",
       "[u'Charlton Heston', u'Orson Welles', u'Janet Leigh']",
       "[u'William H. Macy', u'Frances McDormand', u'Steve Buscemi']",
       "[u'Robert Downey Jr.', u'Chris Evans', u'Scarlett Johansson']",
       "[u'Jean-Pierre L\\xe9aud', u'Albert R\\xe9my', u'Claire Maurier']",
       "[u'Cary Elwes', u'Mandy Patinkin', u'Robin Wright']",
       "[u'Don Cheadle', u'Sophie Okonedo', u'Joaquin Phoenix']",
       "[u'Alisa Freyndlikh', u'Aleksandr Kaydanovskiy', u'Anatoliy Solonitsyn']",
       "[u'Brahim Hadjadj', u'Jean Martin', u'Yacef Saadi']",
       "[u'Predrag Manojlovic', u'Lazar Ristovski', u'Mirjana Jokovic']",
       "[u'Bertil Guve', u'Pernilla Allwin', u'Kristina Adolphson']",
       "[u'Faye Dunaway', u'William Holden', u'Peter Finch']",
       "[u'Kurt Russell', u'Wilford Brimley', u'Keith David']",
       "[u'Paul Newman', u'Robert Redford', u'Katharine Ross']",
       "[u'Henry Fonda', u'Jane Darwell', u'John Carradine']",
       "[u'Bajram Severdzan', u'Srdjan Todorovic', u'Branka Katic']",
       "[u'Graham Chapman', u'John Cleese', u'Michael Palin']",
       "[u'Bruce Willis', u'Haley Joel Osment', u'Toni Collette']",
       "[u'Albert Brooks', u'Ellen DeGeneres', u'Alexander Gould']",
       "[u'Sumi Shimamoto', u'Mahito Tsujimura', u'Hisako Ky\\xf4da']",
       "[u'Colin Firth', u'Taron Egerton', u'Samuel L. Jackson']",
       "[u'Charlie Sheen', u'Tom Berenger', u'Willem Dafoe']",
       "[u'Chris Pratt', u'Vin Diesel', u'Bradley Cooper']",
       "[u'Daniel Day-Lewis', u'Pete Postlethwaite', u'Alison Crosbie']",
       "[u'Uma Thurman', u'David Carradine', u'Daryl Hannah']",
       "[u'Tommy Lee Jones', u'Javier Bardem', u'Josh Brolin']",
       "[u'Alain Delon', u'Nathalie Delon', u'Fran\\xe7ois P\\xe9rier']",
       "[u'Chiwetel Ejiofor', u'Michael Kenneth Williams', u'Michael Fassbender']",
       "[u'Tim Roth', u'Pruitt Taylor Vince', u'Bill Nunn']",
       "[u'Marcello Mastroianni', u'Anouk Aim\\xe9e', u'Claudia Cardinale']",
       "[u'Charlton Heston', u'Jack Hawkins', u'Stephen Boyd']",
       "[u'Emilio Echevarr\\xeda', u'Gael Garc\\xeda Bernal', u'Goya Toledo']",
       "[u'Wil Wheaton', u'River Phoenix', u'Corey Feldman']",
       "[u'Bette Davis', u'Joan Crawford', u'Victor Buono']",
       "[u'Woody Allen', u'Diane Keaton', u'Tony Roberts']",
       "[u'Benedict Cumberbatch', u'Keira Knightley', u'Matthew Goode']",
       "[u'Gene Tierney', u'Dana Andrews', u'Clifton Webb']",
       "[u'Masahiro Motoki', u'Ry\\xf4ko Hirosue', u'Tsutomu Yamazaki']",
       "[u'Andy Lau', u'Tony Chiu Wai Leung', u'Anthony Chau-Sang Wong']",
       "[u'Daniel Day-Lewis', u'Paul Dano', u'Ciar\\xe1n Hinds']",
       "[u'Ralph Fiennes', u'F. Murray Abraham', u'Mathieu Amalric']",
       "[u'Anthony Quinn', u'Giulietta Masina', u'Richard Basehart']",
       "[u'Mickey Rourke', u'Clive Owen', u'Bruce Willis']",
       "[u'Kang-ho Song', u'Sang-kyung Kim', u'Roe-ha Kim']",
       "[u'Jake Gyllenhaal', u'Jena Malone', u'Mary McDonnell']",
       "[u'Elizabeth Taylor', u'Richard Burton', u'George Segal']",
       "[u'Ben Kingsley', u'John Gielgud', u'Candice Bergen']",
       "[u'Natalya Bondarchuk', u'Donatas Banionis', u'J\\xfcri J\\xe4rvet']",
       "[u'Daniel Radcliffe', u'Emma Watson', u'Rupert Grint']",
       "[u'Harry Dean Stanton', u'Nastassja Kinski', u'Dean Stockwell']",
       "[u'Judy Garland', u'Frank Morgan', u'Ray Bolger']",
       "[u'Seung-yeon Lee', u'Hyun-kyoon Lee', u'Hyuk-ho Kwon']",
       "[u'Ellar Coltrane', u'Patricia Arquette', u'Ethan Hawke']",
       "[u'Hilary Swank', u'Clint Eastwood', u'Morgan Freeman']",
       "[u'Timothy Bottoms', u'Jeff Bridges', u'Cybill Shepherd']",
       "[u'Farley Granger', u'Robert Walker', u'Ruth Roman']",
       "[u'Elizabeth Taylor', u'Paul Newman', u'Burl Ives']",
       "[u'Marcello Mastroianni', u'Anita Ekberg', u'Anouk Aim\\xe9e']",
       "[u'Brigitte Lin', u'Takeshi Kaneshiro', u'Tony Chiu Wai Leung']",
       "[u'Robert Mitchum', u'Shelley Winters', u'Lillian Gish']",
       "[u'Vincent Cassel', u'Hubert Kound\\xe9', u'Sa\\xefd Taghmaoui']",
       "[u'Donnie Yen', u'Simon Yam', u'Siu-Wong Fan']",
       "[u'Gary Cooper', u'Grace Kelly', u'Thomas Mitchell']",
       "[u'Cary Grant', u'Ingrid Bergman', u'Claude Rains']",
       "[u'Ethan Hawke', u'Julie Delpy', u'Andrea Eckert']",
       "[u'Wagner Moura', u'Irandhir Santos', u'Andr\\xe9 Ramiro']",
       "[u'Matt Damon', u'\\xc9dgar Ram\\xedrez', u'Joan Allen']",
       "[u'Anna Paquin', u'James Van Der Beek', u'Cloris Leachman']",
       "[u'Ulrich Thomsen', u'Henning Moritzen', u'Thomas Bo Larsen']",
       "[u'Ki-duk Kim', u'Yeong-su Oh', u'Jong-ho Kim']",
       "[u'Leonardo DiCaprio', u'Emily Mortimer', u'Mark Ruffalo']",
       '[u"Ryan O\'Neal", u\'Marisa Berenson\', u\'Patrick Magee\']',
       "[u'William Holden', u'Don Taylor', u'Otto Preminger']",
       "[u'Ir\\xe8ne Jacob', u'Jean-Louis Trintignant', u'Fr\\xe9d\\xe9rique Feder']",
       "[u'Patrick Stewart', u'Ian McKellen', u'Hugh Jackman']",
       "[u'Laurence Olivier', u'Michael Caine', u'Alec Cawthorne']",
       "[u'Tony Chiu Wai Leung', u'Maggie Cheung', u'Ping Lam Siu']",
       "[u'James Stewart', u'John Wayne', u'Vera Miles']",
       "[u'Cary Grant', u'Priscilla Lane', u'Raymond Massey']",
       "[u'Humphrey Bogart', u'Lauren Bacall', u'John Ridgely']",
       "[u'Gregory Peck', u'Audrey Hepburn', u'Eddie Albert']",
       "[u'Cary Grant', u'Katharine Hepburn', u'James Stewart']",
       "[u'Nozomu Sasaki', u'Mami Koyama', u'Mitsuo Iwata']",
       "[u'James Stewart', u'Lee Remick', u'Ben Gazzara']",
       "[u'Werner Krauss', u'Conrad Veidt', u'Friedrich Feher']",
       "[u'Emma Stone', u'Viola Davis', u'Octavia Spencer']",
       "[u'Javier Bardem', u'Bel\\xe9n Rueda', u'Lola Due\\xf1as']",
       "[u'Wagner Moura', u'Andr\\xe9 Ramiro', u'Caio Junqueira']",
       "[u'Paul Newman', u'Jackie Gleason', u'Piper Laurie']",
       "[u'John Wayne', u'Dean Martin', u'Ricky Nelson']",
       "[u'Bruce Willis', u'Madeleine Stowe', u'Brad Pitt']",
       "[u'James Stewart', u'Josephine Hull', u'Peggy Dow']",
       "[u'Peter Billingsley', u'Melinda Dillon', u'Darren McGavin']",
       "[u'Roy Scheider', u'Robert Shaw', u'Richard Dreyfuss']",
       "[u'Iko Uwais', u'Yayan Ruhian', u'Arifin Putra']",
       "[u'Sylvester Stallone', u'Talia Shire', u'Burt Young']",
       "[u'Bruno Ganz', u'Solveig Dommartin', u'Otto Sander']",
       "[u'Johnny Depp', u'Geoffrey Rush', u'Orlando Bloom']",
       "[u'Sterling Hayden', u'Coleen Gray', u'Vince Edwards']",
       "[u'Steve McQueen', u'Dustin Hoffman', u'Victor Jory']",
       "[u'Colin Firth', u'Geoffrey Rush', u'Helena Bonham Carter']",
       "[u'Bill Murray', u'Andie MacDowell', u'Chris Elliott']",
       "[u'Clint Eastwood', u'Gian Maria Volont\\xe9', u'Marianne Koch']",
       "[u'Billy Crystal', u'John Goodman', u'Mary Gibbs']",
       "[u'Al Pacino', u'John Cazale', u'Penelope Allen']",
       "[u'Logan Lerman', u'Emma Watson', u'Ezra Miller']",
       "[u'Gene Wilder', u'Madeline Kahn', u'Marty Feldman']",
       "[u'Arnold Schwarzenegger', u'Linda Hamilton', u'Michael Biehn']",
       "[u'Ruth Gordon', u'Bud Cort', u'Vivian Pickles']",
       "[u'Ethan Hawke', u'Julie Delpy', u'Vernon Dobtcheff']",
       "[u'Vivien Leigh', u'Marlon Brando', u'Kim Hunter']",
       "[u'Katharine Hepburn', u'Cary Grant', u'Charles Ruggles']",
       "[u'Mathieu Amalric', u'Emmanuelle Seigner', u'Marie-Jos\\xe9e Croze']",
       "[u'Cary Grant', u'Rosalind Russell', u'Ralph Bellamy']",
       "[u'Billy Bob Thornton', u'Dwight Yoakam', u'J.T. Walsh']",
       "[u'Lew Ayres', u'Louis Wolheim', u'John Wray']",
       "[u'Hugh Jackman', u'Jake Gyllenhaal', u'Viola Davis']",
       "[u'Vladimir Garin', u'Ivan Dobronravov', u'Konstantin Lavronenko']",
       "[u'Frank Sinatra', u'Laurence Harvey', u'Janet Leigh']",
       "[u'Groucho Marx', u'Harpo Marx', u'Chico Marx']",
       '[u"Paige O\'Hara", u\'Robby Benson\', u\'Richard White\']',
       "[u'Jim Carrey', u'Ed Harris', u'Laura Linney']",
       "[u'William Holden', u'Ernest Borgnine', u'Robert Ryan']",
       "[u'James Stewart', u'John Dall', u'Farley Granger']",
       "[u'Dustin Hoffman', u'Anne Bancroft', u'Katharine Ross']",
       "[u'Sam Neill', u'Laura Dern', u'Jeff Goldblum']",
       "[u'Nicole Kidman', u'Paul Bettany', u'Lauren Bacall']",
       "[u'Vin Diesel', u'Paul Walker', u'Dwayne Johnson']",
       "[u'George C. Scott', u'Karl Malden', u'Stephen Young']",
       '[u\'Danny Elfman\', u\'Chris Sarandon\', u"Catherine O\'Hara"]',

In [37]:
dts.actors_list

0      [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1        [u'Marlon Brando', u'Al Pacino', u'James Caan']
2      [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3      [u'Christian Bale', u'Heath Ledger', u'Aaron E...
4      [u'John Travolta', u'Uma Thurman', u'Samuel L....
5      [u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals...
6      [u'Clint Eastwood', u'Eli Wallach', u'Lee Van ...
7      [u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...
8      [u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings...
9      [u'Brad Pitt', u'Edward Norton', u'Helena Bonh...
10     [u'Elijah Wood', u'Ian McKellen', u'Orlando Bl...
11     [u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'...
12     [u'Mark Hamill', u'Harrison Ford', u'Carrie Fi...
13       [u'Tom Hanks', u'Robin Wright', u'Gary Sinise']
14     [u'Elijah Wood', u'Ian McKellen', u'Viggo Mort...
15     [u'Matthew McConaughey', u'Anne Hathaway', u'J...
16     [u'Jack Nicholson', u'Louise Fletcher', u'Mich...
17     [u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K...
18      [u'Robert De Niro', u'Ray Liotta', u'Joe Pesci']
19     [u'Mark Hamill', u'Harrison Ford', u'Carrie Fi...
20     [u'Keanu Reeves', u'Laurence Fishburne', u'Car...
21     [u'Alexandre Rodrigues', u'Matheus Nachtergael...
22     [u'James Stewart', u'Donna Reed', u'Lionel Bar...
23     [u'Kevin Spacey', u'Gabriel Byrne', u'Chazz Pa...
24     [u'Morgan Freeman', u'Brad Pitt', u'Kevin Spac...
25     [u'Roberto Benigni', u'Nicoletta Braschi', u'G...
26     [u'Henry Fonda', u'Charles Bronson', u'Claudia...
27     [u'Jodie Foster', u'Anthony Hopkins', u'Lawren...
28     [u'Jean Reno', u'Gary Oldman', u'Natalie Portm...
29     [u'Charles Chaplin', u'Virginia Cherrill', u'F...
                             ...
949    [u'Macaulay Culkin', u'Joe Pesci', u'Daniel St...
950    [u'Jennifer Tilly', u'Gina Gershon', u'Joe Pan...
951    [u'Johnny Depp', u'Christina Ricci', u'Miranda...
952    [u'Philip Seymour Hoffman', u'Bill Nighy', u'N...
953    [u'Noah Hathaway', u'Barret Oliver', u'Tami St...
954    [u'Patrick Stewart', u'Hugh Jackman', u'Ian Mc...
955    [u'Jessica Chastain', u'Joel Edgerton', u'Chri...
956    [u'Woody Allen', u'Diane Keaton', u'Jerry Adler']
957    [u'Chevy Chase', u"Beverly D'Angelo", u'Imogen...
958    [u'Cameron Diaz', u'Abigail Breslin', u'Alec B...
959    [u'Woody Allen', u'Judy Davis', u'Julia Louis-...
960    [u'Steve Carell', u'Toni Collette', u'Allison ...
961    [u'Philip Seymour Hoffman', u'Clifton Collins ...
962    [u'Morgan Freeman', u'Jessica Tandy', u'Dan Ay...
963    [u'Anne Parillaud', u'Marc Duret', u'Patrick F...
964    [u'Daniel Day-Lewis', u'Sally Field', u'David ...
965    [u'Bradley Cooper', u'Anna Friel', u'Abbie Cor...
966    [u'Dan Castellaneta', u'Julie Kavner', u'Nancy...
967     [u'Sean Connery', u'Nicolas Cage', u'Ed Harris']
968    [u'Ralph Fiennes', u'Juliette Binoche', u'Will...
969    [u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']
970    [u'Michael Douglas', u'Tobey Maguire', u'Franc...
971    [u'Matthew Macfadyen', u'Peter Dinklage', u'Ew...
972    [u'Ryan Gosling', u'Michelle Williams', u'John...
973    [u'Tobey Maguire', u'Charlize Theron', u'Micha...
974    [u'Dustin Hoffman', u'Jessica Lange', u'Teri G...
975    [u'Michael J. Fox', u'Christopher Lloyd', u'Ma...
976    [u'Russell Crowe', u'Paul Bettany', u'Billy Bo...
977    [u'JoBeth Williams', u"Heather O'Rourke", u'Cr...
978    [u'Charlie Sheen', u'Michael Douglas', u'Tamar...
Name: actors_list, Length: 979, dtype: object

In [38]:
dts[0:1]['actors_list'].str.strip('[]').str.split('u')

0    [, 'Tim Robbins', , 'Morgan Freeman', , 'Bob G...
Name: actors_list, dtype: object

In [39]:
l=[]
for i in dts.actors_list:
    l.extend(eval(i))
set(l)

{'Elizabeth Berridge',
 'Chris Evans',
 'Claire Maurier',
 'Michael J. Fox',
 'Megumi Hayashibara',
 'Vicky Haughton',
 'Mack Swain',
 'Kirk Douglas',
 'Rene Auberjonois',
 'Patricia Arquette',
 'Akira Terao',
 'June Squibb',
 'Carice van Houten',
 'Tae-hoon Kim',
 'Omar Sharif',
 'Kara Hayward',
 'Hisako Kyôda',
 'Adil Hussain',
 'Bridgit Mendler',
 'Martina Gedeck',
 'Martin Sheen',
 'Bobby Cannavale',
 'Lee J. Cobb',
 'Lubna Azabal',
 'Jason Bateman',
 "Shin'ichi Himori",
 'Anthony Perkins',
 'Chika Sakamoto',
 'Christina Hendricks',
 'Atossa Leoni',
 'Emmanuelle Riva',
 'Sondra Locke',
 'Jo Hartley',
 'Véra Clouzot',
 'Michael Keaton',
 'August Diehl',
 'Diana Peñalver',
 'Freida Pinto',
 'Angélica Sancio',
 'Pablo Rago',
 'Soledad Villamil',
 'Cybill Shepherd',
 'Hyun-kyoon Lee',
 'Philip Seymour Hoffman',
 'Christopher Plummer',
 'Madeline Kahn',
 'Vernon Dobtcheff',
 'Taylor Kitsch',
 'Roger Miller',
 'Eva Green',
 'Ryan Potter',
 'Shelley Winters',
 'Benoît Poelvoorde',
 'Eddie Albert',
 'Kenneth Branagh',
 'Helena Bonham Carter',
 'Kathryn Beaumont',
 'Graham Chapman',
 'Tom Wilkinson',
 'Nikolaj Coster-Waldau',
 'Idina Menzel',
 'Ansel Elgort',
 'Denzel Washington',
 'Diahnne Abbott',
 'Josh Hutcherson',
 'Buster Keaton',
 'Tatsuya Nakadai',
 'Daveigh Chase',
 'Keith David',
 'Dong-gun Jang',
 'Andrea Eckert',
 'Eva Marie Saint',
 'Kajol',
 'Kôji Yakusho',
 'Dennis Hopper',
 'Doona Bae',
 'Billy Crystal',
 'Asa Butterfield',
 'Victor Jory',
 'Gene Kelly',
 'Ray Winstone',
 'Soha Ali Khan',
 'Nicoletta Braschi',
 'Michael Kenneth Williams',
 'Thibault Verhaeghe',
 'Li Sun',
 'Ricky Nelson',
 'Vera Miles',
 'Michel Piccoli',
 'Amy Poehler',
 'Kelly McGillis',
 'Chris Cooper',
 'Sammo Kam-Bo Hung',
 'Bela Lugosi',
 'John Cassavetes',
 'Hidetoshi Nishijima',
 'Ian McKellen',
 'Wendell Corey',
 'Vivian Pickles',
 'Naomi Watts',
 'Robert Downey Jr.',
 'Elizabeth Banks',
 'Léa Seydoux',
 'Tyrin Turner',
 'JoBeth Williams',
 'Malcolm McDowell',
 'Patrick McGoohan',
 'Jon Hamm',
 'Arshad Warsi',
 'Vera Farmiga',
 'Jesse McCartney',
 'Chadwick Boseman',
 'Warren Beatty',
 'Lee Marvin',
 'Jeff Garlin',
 'Gena Rowlands',
 'Edward G. Robinson',
 'David Roper',
 'Jean-Paul Belmondo',
 'Richard Haydn',
 'Humphrey Bogart',
 'Jorge-Yamam Serrano',
 'Yeong-su Oh',
 'Justin Braine',
 'John Hodgman',
 'Liam Cunningham',
 'Gwyneth Paltrow',
 'Ian Hendry',
 'Tommy Lee Jones',
 'Griffin Dunne',
 'Wah Yuen',
 "Peter O'Toole",
 'Chief Dan George',
 'Paul Freeman',
 'Robert Duvall',
 'Jacob Lofland',
 'Tom Guiry',
 'Jamie Foxx',
 'Geena Davis',
 'Tyrone Power',
 'Jonathan Groff',
 'Jim Kelly',
 'Pascal Greggory',
 'Jeremy Irons',
 'Takeshi Kitano',
 'Meg Ryan',
 'Josh Hartnett',
 'Karl Markovics',
 'Peter Capaldi',
 'John Wray',
 'Matthias Schoenaerts',
 'Richard White',
 'Ian McShane',
 'Vicellous Reon Shannon',
 'River Phoenix',
 'Maggie Grace',
 'Noah Hathaway',
 'Carrie Fisher',
 'Halle Berry',
 'Carmen Maura',
 'Henry Bergman',
 'Jet Li',
 'Timothy Balme',
 'John Wayne',
 'Samuel E. Wright',
 'Robert Donat',
 'Anthony Hopkins',
 'Debra Winger',
 'Danny Elfman',
 'Liev Schreiber',
 'Shea Whigham',
 'Sumi Shimamoto',
 'Paul Dano',
 'Gina Gershon',
 'Takuya Ishida',
 'Henry Silva',
 'Liam Hemsworth',
 'Joseph Gordon-Levitt',
 'Glenn Close',
 'Viola Davis',
 'Barbara Stanwyck',
 'Andy Garcia',
 'Lukas Haas',
 'Leonard Frey',
 'Pernilla Allwin',
 'Billy Boyd',
 'Gianna Jun',
 'Julie Harris',
 'Patrick Magee',
 'James Garner',
 'Ruth Gordon',
 'Brent Spiner',
 'John Lurie',
 'Jeff Cohen',
 'Cleavon Little',
 'Russell Means',
 'David Morse',
 'Susan Sarandon',
 'Min-sik Choi',
 'Michael Peña',
 'Lucy Russell',
 'Burt Lancaster',
 'Leigh Whannell',
 'Ki-duk Kim',
 'Tony Moran',
 'Anna Friel',
 'Jeremy Renner',
 'Alec Cawthorne',
 'Brian Bedford',
 'T.R. Knight',
 'Michael Wincott',
 'Helen Hunt',
 'Matthew Goode',
 'Helmut Qualtinger',
 'Annie Corley',
 'James McAvoy',
 'Famke Janssen',
 'Werner Krauss',
 'Michael Badalucco',
 'Toby Froud',
 'Elizabeth Taylor',
 'Katsunosuke Hori',
 'Glen Campbell',
 'Judd Hirsch',
 'Candice Bergen',
 'Tilda Swinton',
 'Richard Basehart',
 'Joanna Cassidy',
 'Johnny Depp',
 'John Belushi',
 'Mitsuo Iwata',
 'María Marull',
 "Judith O'Dea",
 'Eric Bana',
 'Bill Paxton',
 'Benedict Cumberbatch',
 'Laurence Olivier',
 'Javier Bardem',
 'Geoffrey Rush',
 'Arifin Putra',
 'Tom Skerritt',
 'Jena Malone',
 'Octavia Spencer',
 'Edward Norton',
 'John Candy',
 'Steve Martin',
 'Nastassja Kinski',
 'Amy Smart',
 'Chris Elliott',
 'Robert De Niro',
 'Nick Nolte',
 'Erica Carlson',
 'Harvey Stephens',
 'Kevin Spacey',
 'Mona Singh',
 'Gunnar Björnstrand',
 'Madeline Carroll',
 'Christopher Guest',
 'Victor Sjöström',
 'Oprah Winfrey',
 'Bo Hopkins',
 'Sue Lyon',
 'Ray Milland',
 'Chloë Sevigny',
 'Tatsuya Gashûin',
 'Billy Zane',
 'Tyler Hoechlin',
 'Laura Dern',
 'Danny Trejo',
 'Brad Garrett',
 'Pavel Ponomaryov',
 'Jean Reno',
 'Ben Burtt',
 'Hye-jeong Kang',
 'Mariel Hemingway',
 'Jack Kehoe',
 'Quinton Aaron',
 'Andy Lau',
 'Artyom Bogucharskiy',
 'Teresa Mo',
 'Corey Feldman',
 'Madeleine Stowe',
 'Wil Wheaton',
 'Charlotte Stewart',
 'John Goodman',
 'Michael Shannon',
 'Peter Dinklage',
 'Iemasa Kayumi',
 'Anne Hathaway',
 'Vlad Ivanov',
 'Ahmad Khan Mahmoodzada',
 'Ellen Burstyn',
 'Grace Kelly',
 'Benjamin Bratt',
 'Peter Billingsley',
 'Keira Knightley',
 'Carmen Ejogo',
 'Claire Danes',
 'Marcello Mastroianni',
 'Jared Gilman',
 'Marilyn Monroe',
 'James Woods',
 'Oksana Akinshina',
 'Greta Schröder',
 'Morgan Freeman',
 'O.J. Simpson',
 'Sunil Dutt',
 'Sareh Bayat',
 'Milton Berle',
 'David Thewlis',
 'Ned Beatty',
 'Richard E. Grant',
 'Roe-ha Kim',
 'Frédérique Feder',
 'Daniel Giménez Cacho',
 'Darío Grandinetti',
 'Angela Bassett',
 'Jason Segel',
 'Antonio Banderas',
 'Jesse Eisenberg',
 'Faye Wong',
 'Ellen Sandweiss',
 'François Truffaut',
 'Reese Witherspoon',
 'David James',
 'Mathieu Amalric',
 'Ming-Na Wen',
 'Dennis Quaid',
 'Yeong-ae Lee',
 'Richard Harris',
 'Anthony Chau-Sang Wong',
 'Ha-kyun Shin',
 'Scott H. Reiniger',
 'Jane Galloway Heitz',
 'Manuela Velasco',
 'Riisa Naka',
 'Jessica Lange',
 'Catinca Untaru',
 'Richard DeManincor',
 'Fay Wray',
 'Annie Rose Buckley',
 'Thomas Kretschmann',
 'Darren McGavin',
 'John Cleese',
 'Dana Andrews',
 'Jack Black',
 'Alicia Vikander',
 'Farley Granger',
 'Predrag Manojlovic',
 'Tatsuya Fujiwara',
 'Joan Cusack',
 'Jim Carrey',
 'Taron Egerton',
 'Mía Maestro',
 'Fred Ward',
 'Michael Cera',
 'Tobey Maguire',
 'Ivana Baquero',
 'Jean Dujardin',
 'Matthew Macfadyen',
 'Adel Bencherif',
 'Sean Young',
 'Ciarán Hinds',
 'Maggie Cheung',
 'Noriko Hidaka',
 'Crispin Glover',
 'David Strathairn',
 'Hugh Marlowe',
 'Hanaa Bouchaib',
 'Terrence Howard',
 'Marcus Gilbert',
 'Anne Parillaud',
 'Anna Kendrick',
 'Ron Perlman',
 'Emile Hirsch',
 'Sylvia Miles',
 'Mami Koyama',
 'Robert Walker',
 'Richard Dreyfuss',
 'John Ratzenberger',
 'Sae-ron Kim',
 'Keri Russell',
 'DeForest Kelley',
 'Michael York',
 'Inge Landgut',
 'Juliette Lewis',
 'Frank Langella',
 'Leticia Brédice',
 'Terry Gilliam',
 'Claudia Cardinale',
 'Shaun Evans',
 'Michael Biehn',
 'Robert Sean Leonard',
 'David Tomlinson',
 'Markus Rygaard',
 'Fred MacMurray',
 'Andrew Robinson',
 'Rebecka Liljeberg',
 'Maribel Verdú',
 'Alisa Freyndlikh',
 'Klaus Wennemann',
 'Jamie Bell',
 'Kiefer Sutherland',
 'Walter Pidgeon',
 'Peyman Moaadi',
 'Olivia de Havilland',
 'Emma Stone',
 'Wallace Ford',
 'Marianne Koch',
 'Alison Doody',
 'Nathan West',
 'Jean Heywood',
 'Harrison Ford',
 'Brenda de Banzie',
 'Kirsten Dunst',
 'J.T. Walsh',
 'Tye Sheridan',
 'Oscar Isaac',
 'Evan Rachel Wood',
 'Robert Ryan',
 'Isabella Rossellini',
 'Imogene Coca',
 'Jack Nicholson',
 'Ranbir Kapoor',
 'Steven Bauer',
 'Drew Barrymore',
 'John Randolph',
 'Shûichirô Moriyama',
 'Will Forte',
 'Dan Castellaneta',
 'Colm Meaney',
 'Roddy McDowall',
 'Bradley Cooper',
 'Dexter Fletcher',
 'Jada Pinkett Smith',
 'Dev Patel',
 'Charlton Heston',
 'Aidan Quinn',
 'Djimon Hounsou',
 'Christopher Mintz-Plasse',
 'Stephen Young',
 'Allen Joseph',
 'Saïd Taghmaoui',
 'Gene Tierney',
 'In-seo Kim',
 'Honor Blackman',
 'Peter van Eyck',
 'Ivan Dobronravov',
 'Hugh Grant',
 'Cloris Leachman',
 'Gary Sinise',
 'Elsa Lanchester',
 'Helen Chandler',
 'Rachel Shelley',
 'Deems Taylor',
 'Alison Whelan',
 'Diego Luna',
 'Ben Kingsley',
 'Friedrich Feher',
 'Goya Toledo',
 'Tim Allen',
 'Sienna Miller',
 'Tom Hollander',
 'John Travolta',
 'Clint Eastwood',
 'Guillaume Canet',
 'Rosalind Russell',
 'Jackie Coogan',
 'Daniel Boulanger',
 'Richard Farnsworth',
 'Lawrence A. Bonney',
 'F. Murray Abraham',
 'Gary Lockwood',
 'Sam Waterston',
 'Tom Hardy',
 'Rene Russo',
 'Haley Ramm',
 'Pam Grier',
 'John Turturro',
 'George C. Scott',
 'Adam Driver',
 'Ben Whishaw',
 'Delroy Lindo',
 'Ed Harris',
 'Jaden Smith',
 'Albert Brooks',
 'Enzo Staiola',
 'Patrick Dempsey',
 'Bruce Spence',
 'Tarô Yamamoto',
 'Yui Natsukawa',
 'Olivia Williams',
 'Mark Lee',
 'Rachel Weisz',
 'Kim Hunter',
 'Elliott Gould',
 'Amy Ryan',
 'Karl Malden',
 'Chiwetel Ejiofor',
 'Bruce Dern',
 'Atsuko Tanaka',
 'Sarah Jessica Parker',
 'Jason London',
 'Dennis Haysbert',
 'Jeffrey Hunter',
 'Byung-hun Lee',
 'Jeff Daniels',
 'Ethel Merman',
 'Tamara Tunie',
 'Shia LaBeouf',
 'Robert Shaw',
 'Louis Wolheim',
 'Zach Galifianakis',
 'Marlon Brando',
 'Melora Walters',
 'Geraldine Chaplin',
 'Richard Beymer',
 'Jacques Villeret',
 'Ewa Fröling',
 'Stuart Graham',
 'Ken Watanabe',
 'Daniel Craig',
 'Diane Kruger',
 'Rod Steiger',
 'Laurence Fishburne',
 'Michael Beck',
 'Frantz Turner',
 'Alexandra Maria Lara',
 'Ananda George',
 'Judd Nelson',
 'Cameron Bright',
 'Allison Janney',
 'Sigourney Weaver',
 'Leopold Stokowski',
 'Ruth Roman',
 'Norma Crane',
 'Chiara Mastroianni',
 'Ernest Borgnine',
 'Christian Berkel',
 'Sophie Okonedo',
 'Chete Lera',
 'Harry Connick Jr.',
 'Konstantin Lavronenko',
 'Peter Weller',
 'Kate Ashfield',
 'Rufus',
 'Ray Sahetapy',
 'Scott Adsit',
 'Lew Ayres',
 'Michael B. Jordan',
 'Ariadna Gil',
 'Bryan Cranston',
 'David Herman',
 'Ray Romano',
 'Brian Dennehy',
 'Whoopi Goldberg',
 'James Mason',
 'Owen Wilson',
 'Macdonald Carey',
 'Miles Teller',
 'Siu-Wong Fan',
 'Tom Prior',
 'Sam Elliott',
 'Dakota Fanning',
 'Amrish Puri',
 'Ben Gazzara',
 'Lotte Lenya',
 'Julie Kavner',
 'Sam Rockwell',
 'Mélissa Désormeaux-Poulin',
 'Patton Oswalt',
 'Mike Myers',
 'Jim Sturgess',
 'Liv Ullmann',
 'Mary Tyler Moore',
 'Wilford Brimley',
 'Jean Sorel',
 'Connie Nielsen',
 'Ricardo Darín',
 'William Sylvester',
 'Gayatri Joshi',
 'Jessica Chastain',
 'Sean Astin',
 'James Earl Jones',
 'Jacqueline Poelvoorde-Pappaert',
 'Christine Hargreaves',
 'Penelope Ann Miller',
 'Greta Gerwig',
 'Emma Watson',
 'Gregory Peck',
 'Ziyi Zhang',
 'Alec Guinness',
 'Robert Morley',
 'Suzanne Pleshette',
 'Irène Jacob',
 'Sean Bean',
 'Susan George',
 'Barret Oliver',
 'Elissa Knight',
 'Roberta Maxwell',
 'Trine Dyrholm',
 'Judy Davis',
 'Oliver Stokowski',
 'Joseph Cotten',
 'Gloria Swanson',
 'Ulrich Matthes',
 'Federico Luppi',
 'Javier Cámara',
 'Max von Sydow',
 'Jay Baruchel',
 'Rochelle Davis',
 'Lillo Brancato',
 'Callan McAuliffe',
 'Embeth Davidtz',
 'Cuba Gooding Jr.',
 'Kimberly Elise',
 'Denis Leary',
 'Mathieu Kassovitz',
 'Roger Príncep',
 'Marlene Dietrich',
 'Tony Curtis',
 'Dorothy Comingore',
 'Gérard Jugnot',
 'Logan Lerman',
 'Andy Devine',
 'Brian Milligan',
 'Al Pacino',
 'Mary McDonnell',
 'Renée Zellweger',
 'Coleen Gray',
 'Emily Watson',
 'Claudine Longet',
 'Kåre Hedebrant',
 'Shailene Woodley',
 'Joan Crawford',
 'Olga Baclanova',
 'Joseph Fiennes',
 'Rene Bitorajac',
 'Keir Dullea',
 'Thom Hoffman',
 'Haley Joel Osment',
 'Henry Thomas',
 'Lou Romano',
 'Eun-ju Lee',
 'Vladimir Barsky',
 'Gerry Becker',
 'Paul Bettany',
 'Dorsey Wright',
 'Charles Chaplin',
 'Irene Miracle',
 'Brendan Gleeson',
 'Sal Mineo',
 'Larenz Tate',
 'Vivien Leigh',
 'Peter Finch',
 'Elizabeth McGovern',
 'David Manners',
 'Thandie Newton',
 'Slim Pickens',
 'Demi Moore',
 'Yuriko Ishida',
 'Deborah Kerr',
 'Thora Birch',
 'Carrie-Anne Moss',
 'Conrad Veidt',
 'Ruy Guerra',
 'Henry Goodman',
 'Sally Field',
 'Birol Ünel',
 'Freddie Highmore',
 'Abbie Cornish',
 'Zachary Levi',
 'Louis Prima',
 'Kishori Balal',
 'Masayuki Mori',
 'Sterling Hayden',
 'Nathan Fillion',
 'Bérénice Bejo',
 'Ernst Jacobi',
 'Matthew Broderick',
 'Lina Leandersson',
 'Richard Attenborough',
 'Billy Crudup',
 'Marisa Berenson',
 'Sheetal Menon',
 'Ellen DeGeneres',
 'Marcia Gay Harden',
 'Jessica Tandy',
 'Claudette Colbert',
 'Cate Blanchett',
 'Jennifer Garner',
 'Christopher Eccleston',
 'Akshaye Khanna',
 'Daniel Radcliffe',
 'Burl Ives',
 'Kurt Russell',
 'Gary Farmer',
 'Tokiko Katô',
 'Mickey Sumner',
 'Mónica Villa',
 'Sanshi Katsura',
 'Rob Morrow',
 'Jason Statham',
 'Peter MacNicol',
 'Sissy Spacek',
 'Agame Malembo-Emene',
 'Joan Allen',
 'Andrew Garfield',
 'Christopher Carley',
 'Sam Worthington',
 'Geoffrey Arend',
 'Belén Rueda',
 'Anita Ekberg',
 'Orlando Bloom',
 'Peter Lorre',
 'Jacqueline Bisset',
 'Holly Hunter',
 'Julie Christie',
 'Peter Sarsgaard',
 'Deborah Kara Unger',
 'Bin Won',
 'Toshirô Mifune',
 'Katrina Bowden',
 'Chris Pine',
 'Glen Cavender',
 'Julianne Moore',
 'Niels Arestrup',
 'Giovanni Ribisi',
 'Dick Van Dyke',
 'Richard Jenkins',
 'Danny Aiello',
 'Sarah Berry',
 'Mikkel Boe Følsgaard',
 'Nick Frost',
 'Pascal Benezech',
 'Tom Cruise',
 'Tim Robbins',
 'Ralph Meeker',
 'Chieko Baishô',
 'Jean Simmons',
 'Eli Wallach',
 'Dean Martin',
 'Frank Finlay',
 'David Bowie',
 "Brian O'Halloran",
 'Cecilia Roth',
 'Saurabh Shukla',
 'Shelley Duvall',
 'Terence Stamp',
 'Minami Takayama',
 'Akemi Yamaguchi',
 'Bruce Campbell',
 'Paulette Goddard',
 'Rosamund Pike',
 'Brad Davis',
 'Alec McCowen',
 'John Getz',
 'Margaretha Krook',
 'Jodie Foster',
 'Verna Bloom',
 'Dana Wynter',
 'Chevy Chase',
 'Anne Le Ny',
 'Patrick Horgan',
 'Cliff Robertson',
 'William Hurt',
 'Herbert Grönemeyer',
 'Liam Neeson',
 'Carlo Verdone',
 'Robert Mitchum',
 'Scott Glenn',
 'Mel Blanc',
 'Burt Young',
 'Kathy Bates',
 'Armin Mueller-Stahl',
 'Jonathan Rhys Meyers',
 'James Fleet',
 'Rex Harrison',
 'Harry Stockwell',
 'Michelle Williams',
 'Margaret Lockwood',
 'Tim McGraw',
 'Jonathan Ke Quan',
 'Carl Weathers',
 'Hudhail Al-Amir',
 'Rawiri Paratene',
 'Telly Savalas',
 'Arnold Schwarzenegger',
 'Luciano Federico',
 'Bud Cort',
 'Jane Lynch',
 'Michael Palin',
 'Alison Crosbie',
 'Zoe Saldana',
 'Roy Scheider',
 'Jason Flemyng',
 'Liza Minnelli',
 'Dan Hedaya',
 'Paul McCartney',
 'Aleksandr Kaydanovskiy',
 'Regina King',
 'Mandy Moore',
 'Laura Linney',
 'Craig Bierko',
 'Macaulay Culkin',
 'Valeria Golino',
 'Bill Nighy',
 'Woody Allen',
 'Hayden Christensen',
 'Ingrid Thulin',
 'Cab Calloway',
 'Michael Chekhov',
 'Mahito Tsujimura',
 'Chulpan Khamatova',
 'Jackie Chan',
 'Justin Bartha',
 'Harvey Pekar',
 'Lea Thompson',
 'Stanley Holloway',
 'Tony Roberts',
 'Tom Berenger',
 'Thomas Haden Church',
 'Richard Crenna',
 'Scarlett Johansson',
 'Rutger Hauer',
 'Seth Rogen',
 'Nicole Kidman',
 'Zachary Quinto',
 'Josh Brolin',
 'Sam Shepard',
 'David Proval',
 'Matt Stone',
 'Anne Bancroft',
 'Melinda Dillon',
 'Omar Sy',
 'Daryl Hannah',
 'Marion Mack',
 'Jessica Harper',
 'Miranda Richardson',
 'Wiley Wiggins',
 'Michel Robin',
 'Casey Affleck',
 'Bill Kerr',
 'Danny Lee',
 'Barry Foster',
 'Peter Sellers',
 'Ray Bolger',
 'Takayuki Yamada',
 'Burt Reynolds',
 'Ron Eldard',
 'Hailee Steinfeld',
 'Catherine Zeta-Jones',
 'Leila Hyams',
 'Otto Sander',
 'Michael Fassbender',
 'Eugene Levy',
 'Marisol Nichols',
 'Dickie Jones',
 'Aamir Khan',
 'Yûko Tanaka',
 'June Kyoto Lu',
 'Domhnall Gleeson',
 'Cillian Murphy',
 'Jude Law',
 'Jonathan Pryce',
 'Jeff Goldblum',
 'Benicio Del Toro',
 'Paul Giamatti',
 'Branko Djuric',
 'Melanie Lynskey',
 'Adèle Exarchopoulos',
 'Hyuk-ho Kwon',
 'Aki Maeda',
 'John Lennon',
 'Woody Harrelson',
 'Margot Robbie',
 'James Stewart',
 'Leila Hatami',
 'Paul Walker',
 'Charlie Cox',
 'Maxim Gaudette',
 'Emma Thompson',
 'Greta Scacchi',
 'Edmund Gwenn',
 'Barbara Hershey',
 'Gaspard Ulliel',
 'Charlie Sheen',
 'Abigail Breslin',
 'Max Schreck',
 'Jared Harris',
 'Edna Purviance',
 'Jüri Järvet',
 'James Remar',
 'Frances McDormand',
 'Michael Preston',
 'Will Arnett',
 'Michael Clarke Duncan',
 'Paul McGann',
 'Nat Wolff',
 'Julie Hagerty',
 'Groucho Marx',
 'Claire Forlani',
 'Kristen Bell',
 'Barbara Bel Geddes',
 'Willem Dafoe',
 'Marília Pêra',
 'Julian Sands',
 'Ray Liotta',
 'Jonah Bobo',
 'Craig T. Nelson',
 'James Caan',
 'Matt Damon',
 'Kazunari Ninomiya',
 'Emilio Echevarría',
 'Richard Armitage',
 'Jeff Bridges',
 'Michael J. Pollard',
 'Brie Larson',
 'Chris Pratt',
 'Peggy Dow',
 'Maria Bello',
 'Zbigniew Zamachowski',
 'Chico Marx',
 'Felicity Huffman',
 'Robert Vaughn',
 'Jack Warden',
 'Duane Jones',
 'Mark Wahlberg',
 'David Carradine',
 'Alexander Gould',
 'Lee Pace',
 'Ralph Bellamy',
 'Patricia Neal',
 'Kang-ho Song',
 'Rufus Sewell',
 'Marisa Tomei',
 'Marie-Josée Croze',
 'Josh Lucas',
 'Christina Ricci',
 'BD Wong',
 'James Laurenson',
 'Wagner Moura',
 'Jonny Lee Miller',
 'George Clooney',
 'Ossie Davis',
 'Adolphe Menjou',
 'Sophie Nélisse',
 'Joaquin Phoenix',
 'Akio Ôtsuka',
 'Xinyi Zhang',
 'Frank Overton',
 'Boris Leskin',
 'Susanne Lothar',
 'Mickey Rourke',
 'Patrick Wilson',
 'Kristen Wiig',
 'Anna Paquin',
 'Sylvie Testud',
 'Martine McCutcheon',
 'Gerard Butler',
 'Jon Favreau',
 'Matthew McConaughey',
 'Jackie Earle Haley',
 'R. Lee Ermey',
 'Édgar Ramírez',
 'Teresa Wright',
 'Alan Ruck',
 'Paul Le Mat',
 'Meryl Streep',
 'Jean Seberg',
 'Diane Keaton',
 'Dominique Pinon',
 'Clark Gable',
 'Edwin Neal',
 'Seamus Davey-Fitzpatrick',
 'Natalya Bondarchuk',
 'Jack Nance',
 'Kevin Peter Hall',
 'Jason Cope',
 'Leslie Nielsen',
 'David Wenham',
 'Rupert Friend',
 'Mary Kay Bergman',
 'Julia Louis-Dreyfus',
 'Sean Hayes',
 'Mary Steenburgen',
 'Nicolas Bro',
 'Margo Harshman',
 'Haaz Sleiman',
 'Markéta Irglová',
 'Takuya Kimura',
 'Philippe Noiret',
 'Synnøve Macody Lund',
 'Vincent Gallo',
 'Judith Vittet',
 'Fernando Cayo',
 'Dalia Hernández',
 'Erich von Stroheim',
 'Ben Affleck',
 'Sally Yeh',
 ...}

In [40]:
dts1=pd.read_csv('https://bit.ly/chiporders',sep='\t')
dts1

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
14,7,1,Chips and Guacamole,NaN,$4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49
18,9,2,Canned Soda,[Sprite],$2.18
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75
20,10,1,Chips and Guacamole,NaN,$4.45
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$8.99
22,11,1,Nantucket Nectar,[Pomegranate Cherry],$3.39
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",$10.98
24,12,1,Izze,[Grapefruit],$3.39
25,13,1,Chips and Fresh Tomato Salsa,NaN,$2.39
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",$8.49
27,14,1,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",$8.99
28,14,1,Canned Soda,[Dr. Pepper],$1.09
29,15,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
...,...,...,...,...,...
4592,1825,1,Barbacoa Burrito,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",$11.75
4593,1825,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",$11.75
4594,1825,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",$11.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",$8.75
4596,1826,1,Chips and Guacamole,NaN,$4.45
4597,1826,1,Canned Soft Drink,[Nestea],$1.25
4598,1826,1,Bottled Water,NaN,$1.50
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75
4600,1827,1,Chips and Guacamole,NaN,$4.45
4601,1827,1,Canned Soft Drink,[Diet Coke],$1.25
4602,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25
4603,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
4605,1828,1,Chips and Guacamole,NaN,$4.45
4606,1828,1,Canned Soft Drink,[Coke],$1.25
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",$11.75
4608,1829,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
4609,1829,1,Canned Soft Drink,[Sprite],$1.25
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",$11.25
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
4613,1831,1,Chips,NaN,$2.15
4614,1831,1,Bottled Water,NaN,$1.50
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4616,1832,1,Chips and Guacamole,NaN,$4.45
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [41]:
# dts2=pd.read_table('https://bit.ly/chiporders')
# dts2

In [42]:
dts1[dts1.item_name=='Chicken Bowl'].item_name.describe()

count              726
unique               1
top       Chicken Bowl
freq               726
Name: item_name, dtype: object

In [43]:
dts1[dts1.item_name=='Chicken Bowl'][['item_name']].describe()

           item_name
count            726
unique             1
top     Chicken Bowl
freq             726

In [44]:
dts1.itemprice=dts1.item_price.str.lstrip('$')

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [45]:
dts1.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [46]:
# dts1.item_price=dts1.item_price.astype(dtype=float)

In [47]:
# dts1[dts1.item_name.str.contains('Chicken')].item_price()

In [48]:
dts1.item_price[0:1].str.lstrip('$')

0    2.39
Name: item_price, dtype: object

In [49]:
dts1.index

RangeIndex(start=0, stop=4622, step=1)

In [50]:
dts3=pd.read_csv('https://bit.ly/drinksbycountry')
dts3

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa
5,Antigua & Barbuda,102,128,45,4.9,North America
6,Argentina,193,25,221,8.3,South America
7,Armenia,21,179,11,3.8,Europe
8,Australia,261,72,212,10.4,Oceania
9,Austria,279,75,191,9.7,Europe
10,Azerbaijan,21,46,5,1.3,Europe
11,Bahamas,122,176,51,6.3,North America
12,Bahrain,42,63,7,2.0,Asia
13,Bangladesh,0,0,0,0.0,Asia
14,Barbados,143,173,36,6.3,North America
15,Belarus,142,373,42,14.4,Europe
16,Belgium,295,84,212,10.5,Europe
17,Belize,263,114,8,6.8,North America
18,Benin,34,4,13,1.1,Africa
19,Bhutan,23,0,0,0.4,Asia
20,Bolivia,167,41,8,3.8,South America
21,Bosnia-Herzegovina,76,173,8,4.6,Europe
22,Botswana,173,35,35,5.4,Africa
23,Brazil,245,145,16,7.2,South America
24,Brunei,31,2,1,0.6,Asia
25,Bulgaria,231,252,94,10.3,Europe
26,Burkina Faso,25,7,7,4.3,Africa
27,Burundi,88,0,0,6.3,Africa
28,Cote d'Ivoire,37,1,7,4.0,Africa
29,Cabo Verde,144,56,16,4.0,Africa
...,...,...,...,...,...,...
163,Suriname,128,178,7,5.6,South America
164,Swaziland,90,2,2,4.7,Africa
165,Sweden,152,60,186,7.2,Europe
166,Switzerland,185,100,280,10.2,Europe
167,Syria,5,35,16,1.0,Asia
168,Tajikistan,2,15,0,0.3,Asia
169,Thailand,99,258,1,6.4,Asia
170,Macedonia,106,27,86,3.9,Europe
171,Timor-Leste,1,1,4,0.1,Asia
172,Togo,36,2,19,1.3,Africa
173,Tonga,36,21,5,1.1,Oceania
174,Trinidad & Tobago,197,156,7,6.4,North America
175,Tunisia,51,3,20,1.3,Africa
176,Turkey,51,22,7,1.4,Asia
177,Turkmenistan,19,71,32,2.2,Asia
178,Tuvalu,6,41,9,1.0,Oceania
179,Uganda,45,9,0,8.3,Africa
180,Ukraine,206,237,45,8.9,Europe
181,United Arab Emirates,16,135,5,2.8,Asia
182,United Kingdom,219,126,195,10.4,Europe
183,Tanzania,36,6,1,5.7,Africa
184,USA,249,158,84,8.7,North America
185,Uruguay,115,35,220,6.6,South America
186,Uzbekistan,25,101,8,2.4,Asia
187,Vanuatu,21,18,11,0.9,Oceania
188,Venezuela,333,100,3,7.7,South America
189,Vietnam,111,2,1,2.0,Asia
190,Yemen,6,0,0,0.1,Asia
191,Zambia,32,19,4,2.5,Africa
192,Zimbabwe,64,18,4,4.7,Africa

In [51]:
dts3.index

RangeIndex(start=0, stop=193, step=1)

In [52]:
dts3.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [53]:
dts3

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa
5,Antigua & Barbuda,102,128,45,4.9,North America
6,Argentina,193,25,221,8.3,South America
7,Armenia,21,179,11,3.8,Europe
8,Australia,261,72,212,10.4,Oceania
9,Austria,279,75,191,9.7,Europe
10,Azerbaijan,21,46,5,1.3,Europe
11,Bahamas,122,176,51,6.3,North America
12,Bahrain,42,63,7,2.0,Asia
13,Bangladesh,0,0,0,0.0,Asia
14,Barbados,143,173,36,6.3,North America
15,Belarus,142,373,42,14.4,Europe
16,Belgium,295,84,212,10.5,Europe
17,Belize,263,114,8,6.8,North America
18,Benin,34,4,13,1.1,Africa
19,Bhutan,23,0,0,0.4,Asia
20,Bolivia,167,41,8,3.8,South America
21,Bosnia-Herzegovina,76,173,8,4.6,Europe
22,Botswana,173,35,35,5.4,Africa
23,Brazil,245,145,16,7.2,South America
24,Brunei,31,2,1,0.6,Asia
25,Bulgaria,231,252,94,10.3,Europe
26,Burkina Faso,25,7,7,4.3,Africa
27,Burundi,88,0,0,6.3,Africa
28,Cote d'Ivoire,37,1,7,4.0,Africa
29,Cabo Verde,144,56,16,4.0,Africa
...,...,...,...,...,...,...
163,Suriname,128,178,7,5.6,South America
164,Swaziland,90,2,2,4.7,Africa
165,Sweden,152,60,186,7.2,Europe
166,Switzerland,185,100,280,10.2,Europe
167,Syria,5,35,16,1.0,Asia
168,Tajikistan,2,15,0,0.3,Asia
169,Thailand,99,258,1,6.4,Asia
170,Macedonia,106,27,86,3.9,Europe
171,Timor-Leste,1,1,4,0.1,Asia
172,Togo,36,2,19,1.3,Africa
173,Tonga,36,21,5,1.1,Oceania
174,Trinidad & Tobago,197,156,7,6.4,North America
175,Tunisia,51,3,20,1.3,Africa
176,Turkey,51,22,7,1.4,Asia
177,Turkmenistan,19,71,32,2.2,Asia
178,Tuvalu,6,41,9,1.0,Oceania
179,Uganda,45,9,0,8.3,Africa
180,Ukraine,206,237,45,8.9,Europe
181,United Arab Emirates,16,135,5,2.8,Asia
182,United Kingdom,219,126,195,10.4,Europe
183,Tanzania,36,6,1,5.7,Africa
184,USA,249,158,84,8.7,North America
185,Uruguay,115,35,220,6.6,South America
186,Uzbekistan,25,101,8,2.4,Asia
187,Vanuatu,21,18,11,0.9,Oceania
188,Venezuela,333,100,3,7.7,South America
189,Vietnam,111,2,1,2.0,Asia
190,Yemen,6,0,0,0.1,Asia
191,Zambia,32,19,4,2.5,Africa
192,Zimbabwe,64,18,4,4.7,Africa

In [54]:
# dts3.set_index('country',inplace=True)

In [55]:
dts3.index

RangeIndex(start=0, stop=193, step=1)

In [56]:
dts3.set_index('country',inplace=True)
# inplace=True parmanently change

In [57]:
dts3

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Afghanistan,0,0,0,0.0,Asia
Albania,89,132,54,4.9,Europe
Algeria,25,0,14,0.7,Africa
Andorra,245,138,312,12.4,Europe
Angola,217,57,45,5.9,Africa
Antigua & Barbuda,102,128,45,4.9,North America
Argentina,193,25,221,8.3,South America
Armenia,21,179,11,3.8,Europe
Australia,261,72,212,10.4,Oceania
Austria,279,75,191,9.7,Europe
Azerbaijan,21,46,5,1.3,Europe
Bahamas,122,176,51,6.3,North America
Bahrain,42,63,7,2.0,Asia
Bangladesh,0,0,0,0.0,Asia
Barbados,143,173,36,6.3,North America
Belarus,142,373,42,14.4,Europe
Belgium,295,84,212,10.5,Europe
Belize,263,114,8,6.8,North America
Benin,34,4,13,1.1,Africa
Bhutan,23,0,0,0.4,Asia
Bolivia,167,41,8,3.8,South America
Bosnia-Herzegovina,76,173,8,4.6,Europe
Botswana,173,35,35,5.4,Africa
Brazil,245,145,16,7.2,South America
Brunei,31,2,1,0.6,Asia
Bulgaria,231,252,94,10.3,Europe
Burkina Faso,25,7,7,4.3,Africa
Burundi,88,0,0,6.3,Africa
Cote d'Ivoire,37,1,7,4.0,Africa
Cabo Verde,144,56,16,4.0,Africa
...,...,...,...,...,...
Suriname,128,178,7,5.6,South America
Swaziland,90,2,2,4.7,Africa
Sweden,152,60,186,7.2,Europe
Switzerland,185,100,280,10.2,Europe
Syria,5,35,16,1.0,Asia
Tajikistan,2,15,0,0.3,Asia
Thailand,99,258,1,6.4,Asia
Macedonia,106,27,86,3.9,Europe
Timor-Leste,1,1,4,0.1,Asia
Togo,36,2,19,1.3,Africa
Tonga,36,21,5,1.1,Oceania
Trinidad & Tobago,197,156,7,6.4,North America
Tunisia,51,3,20,1.3,Africa
Turkey,51,22,7,1.4,Asia
Turkmenistan,19,71,32,2.2,Asia
Tuvalu,6,41,9,1.0,Oceania
Uganda,45,9,0,8.3,Africa
Ukraine,206,237,45,8.9,Europe
United Arab Emirates,16,135,5,2.8,Asia
United Kingdom,219,126,195,10.4,Europe
Tanzania,36,6,1,5.7,Africa
USA,249,158,84,8.7,North America
Uruguay,115,35,220,6.6,South America
Uzbekistan,25,101,8,2.4,Asia
Vanuatu,21,18,11,0.9,Oceania
Venezuela,333,100,3,7.7,South America
Vietnam,111,2,1,2.0,Asia
Yemen,6,0,0,0.1,Asia
Zambia,32,19,4,2.5,Africa
Zimbabwe,64,18,4,4.7,Africa

In [58]:
dts3.reset_index('country',inplace=True)
# column ko index banana

In [59]:
dts3

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa
5,Antigua & Barbuda,102,128,45,4.9,North America
6,Argentina,193,25,221,8.3,South America
7,Armenia,21,179,11,3.8,Europe
8,Australia,261,72,212,10.4,Oceania
9,Austria,279,75,191,9.7,Europe
10,Azerbaijan,21,46,5,1.3,Europe
11,Bahamas,122,176,51,6.3,North America
12,Bahrain,42,63,7,2.0,Asia
13,Bangladesh,0,0,0,0.0,Asia
14,Barbados,143,173,36,6.3,North America
15,Belarus,142,373,42,14.4,Europe
16,Belgium,295,84,212,10.5,Europe
17,Belize,263,114,8,6.8,North America
18,Benin,34,4,13,1.1,Africa
19,Bhutan,23,0,0,0.4,Asia
20,Bolivia,167,41,8,3.8,South America
21,Bosnia-Herzegovina,76,173,8,4.6,Europe
22,Botswana,173,35,35,5.4,Africa
23,Brazil,245,145,16,7.2,South America
24,Brunei,31,2,1,0.6,Asia
25,Bulgaria,231,252,94,10.3,Europe
26,Burkina Faso,25,7,7,4.3,Africa
27,Burundi,88,0,0,6.3,Africa
28,Cote d'Ivoire,37,1,7,4.0,Africa
29,Cabo Verde,144,56,16,4.0,Africa
...,...,...,...,...,...,...
163,Suriname,128,178,7,5.6,South America
164,Swaziland,90,2,2,4.7,Africa
165,Sweden,152,60,186,7.2,Europe
166,Switzerland,185,100,280,10.2,Europe
167,Syria,5,35,16,1.0,Asia
168,Tajikistan,2,15,0,0.3,Asia
169,Thailand,99,258,1,6.4,Asia
170,Macedonia,106,27,86,3.9,Europe
171,Timor-Leste,1,1,4,0.1,Asia
172,Togo,36,2,19,1.3,Africa
173,Tonga,36,21,5,1.1,Oceania
174,Trinidad & Tobago,197,156,7,6.4,North America
175,Tunisia,51,3,20,1.3,Africa
176,Turkey,51,22,7,1.4,Asia
177,Turkmenistan,19,71,32,2.2,Asia
178,Tuvalu,6,41,9,1.0,Oceania
179,Uganda,45,9,0,8.3,Africa
180,Ukraine,206,237,45,8.9,Europe
181,United Arab Emirates,16,135,5,2.8,Asia
182,United Kingdom,219,126,195,10.4,Europe
183,Tanzania,36,6,1,5.7,Africa
184,USA,249,158,84,8.7,North America
185,Uruguay,115,35,220,6.6,South America
186,Uzbekistan,25,101,8,2.4,Asia
187,Vanuatu,21,18,11,0.9,Oceania
188,Venezuela,333,100,3,7.7,South America
189,Vietnam,111,2,1,2.0,Asia
190,Yemen,6,0,0,0.1,Asia
191,Zambia,32,19,4,2.5,Africa
192,Zimbabwe,64,18,4,4.7,Africa

In [60]:
dts3.columns

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')

In [61]:
dts3.set_index('country',inplace=True)

In [62]:
dts3.loc['India']
# loc for level

beer_servings                      9
spirit_servings                  114
wine_servings                      0
total_litres_of_pure_alcohol     2.2
continent                       Asia
Name: India, dtype: object

In [63]:
dts.index

RangeIndex(start=0, stop=979, step=1)

In [64]:
dts3.iloc[0]
#iloc numeric index

beer_servings                      0
spirit_servings                    0
wine_servings                      0
total_litres_of_pure_alcohol       0
continent                       Asia
Name: Afghanistan, dtype: object

In [65]:
dts3.ix['India']

C:\Users\hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

beer_servings                      9
spirit_servings                  114
wine_servings                      0
total_litres_of_pure_alcohol     2.2
continent                       Asia
Name: India, dtype: object

In [66]:
# dts3.loc['pk']=[0,0,0,0,'APna GOla']
# dts3.loc['pk']=

In [67]:
dts3.tail(1)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Zimbabwe,64,18,4,4.7,Africa

In [68]:
dts3.columns

Index(['beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')

In [69]:
dts3.reset_index(inplace=True)

In [70]:
dts3.columns

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')

In [71]:
dts3.iloc[77]

country                         India
beer_servings                       9
spirit_servings                   114
wine_servings                       0
total_litres_of_pure_alcohol      2.2
continent                        Asia
Name: 77, dtype: object

In [72]:
dts3.iloc[77,1]+=1

In [73]:
dts3.iloc[77]

country                         India
beer_servings                      10
spirit_servings                   114
wine_servings                       0
total_litres_of_pure_alcohol      2.2
continent                        Asia
Name: 77, dtype: object

In [74]:
dts3

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa
5,Antigua & Barbuda,102,128,45,4.9,North America
6,Argentina,193,25,221,8.3,South America
7,Armenia,21,179,11,3.8,Europe
8,Australia,261,72,212,10.4,Oceania
9,Austria,279,75,191,9.7,Europe
10,Azerbaijan,21,46,5,1.3,Europe
11,Bahamas,122,176,51,6.3,North America
12,Bahrain,42,63,7,2.0,Asia
13,Bangladesh,0,0,0,0.0,Asia
14,Barbados,143,173,36,6.3,North America
15,Belarus,142,373,42,14.4,Europe
16,Belgium,295,84,212,10.5,Europe
17,Belize,263,114,8,6.8,North America
18,Benin,34,4,13,1.1,Africa
19,Bhutan,23,0,0,0.4,Asia
20,Bolivia,167,41,8,3.8,South America
21,Bosnia-Herzegovina,76,173,8,4.6,Europe
22,Botswana,173,35,35,5.4,Africa
23,Brazil,245,145,16,7.2,South America
24,Brunei,31,2,1,0.6,Asia
25,Bulgaria,231,252,94,10.3,Europe
26,Burkina Faso,25,7,7,4.3,Africa
27,Burundi,88,0,0,6.3,Africa
28,Cote d'Ivoire,37,1,7,4.0,Africa
29,Cabo Verde,144,56,16,4.0,Africa
...,...,...,...,...,...,...
163,Suriname,128,178,7,5.6,South America
164,Swaziland,90,2,2,4.7,Africa
165,Sweden,152,60,186,7.2,Europe
166,Switzerland,185,100,280,10.2,Europe
167,Syria,5,35,16,1.0,Asia
168,Tajikistan,2,15,0,0.3,Asia
169,Thailand,99,258,1,6.4,Asia
170,Macedonia,106,27,86,3.9,Europe
171,Timor-Leste,1,1,4,0.1,Asia
172,Togo,36,2,19,1.3,Africa
173,Tonga,36,21,5,1.1,Oceania
174,Trinidad & Tobago,197,156,7,6.4,North America
175,Tunisia,51,3,20,1.3,Africa
176,Turkey,51,22,7,1.4,Asia
177,Turkmenistan,19,71,32,2.2,Asia
178,Tuvalu,6,41,9,1.0,Oceania
179,Uganda,45,9,0,8.3,Africa
180,Ukraine,206,237,45,8.9,Europe
181,United Arab Emirates,16,135,5,2.8,Asia
182,United Kingdom,219,126,195,10.4,Europe
183,Tanzania,36,6,1,5.7,Africa
184,USA,249,158,84,8.7,North America
185,Uruguay,115,35,220,6.6,South America
186,Uzbekistan,25,101,8,2.4,Asia
187,Vanuatu,21,18,11,0.9,Oceania
188,Venezuela,333,100,3,7.7,South America
189,Vietnam,111,2,1,2.0,Asia
190,Yemen,6,0,0,0.1,Asia
191,Zambia,32,19,4,2.5,Africa
192,Zimbabwe,64,18,4,4.7,Africa

In [75]:
dts3.reset_index(inplace=True)

In [76]:
# dts3.drop(['level_0','index'],axis=1,inplace=True)

In [77]:
dts3.columns

Index(['index', 'country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')

In [78]:
dts3.drop([0,1,2],inplace=True)

In [79]:
dts3

,index,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
3,3,Andorra,245,138,312,12.4,Europe
4,4,Angola,217,57,45,5.9,Africa
5,5,Antigua & Barbuda,102,128,45,4.9,North America
6,6,Argentina,193,25,221,8.3,South America
7,7,Armenia,21,179,11,3.8,Europe
8,8,Australia,261,72,212,10.4,Oceania
9,9,Austria,279,75,191,9.7,Europe
10,10,Azerbaijan,21,46,5,1.3,Europe
11,11,Bahamas,122,176,51,6.3,North America
12,12,Bahrain,42,63,7,2.0,Asia
13,13,Bangladesh,0,0,0,0.0,Asia
14,14,Barbados,143,173,36,6.3,North America
15,15,Belarus,142,373,42,14.4,Europe
16,16,Belgium,295,84,212,10.5,Europe
17,17,Belize,263,114,8,6.8,North America
18,18,Benin,34,4,13,1.1,Africa
19,19,Bhutan,23,0,0,0.4,Asia
20,20,Bolivia,167,41,8,3.8,South America
21,21,Bosnia-Herzegovina,76,173,8,4.6,Europe
22,22,Botswana,173,35,35,5.4,Africa
23,23,Brazil,245,145,16,7.2,South America
24,24,Brunei,31,2,1,0.6,Asia
25,25,Bulgaria,231,252,94,10.3,Europe
26,26,Burkina Faso,25,7,7,4.3,Africa
27,27,Burundi,88,0,0,6.3,Africa
28,28,Cote d'Ivoire,37,1,7,4.0,Africa
29,29,Cabo Verde,144,56,16,4.0,Africa
30,30,Cambodia,57,65,1,2.2,Asia
31,31,Cameroon,147,1,4,5.8,Africa
32,32,Canada,240,122,100,8.2,North America
...,...,...,...,...,...,...,...
163,163,Suriname,128,178,7,5.6,South America
164,164,Swaziland,90,2,2,4.7,Africa
165,165,Sweden,152,60,186,7.2,Europe
166,166,Switzerland,185,100,280,10.2,Europe
167,167,Syria,5,35,16,1.0,Asia
168,168,Tajikistan,2,15,0,0.3,Asia
169,169,Thailand,99,258,1,6.4,Asia
170,170,Macedonia,106,27,86,3.9,Europe
171,171,Timor-Leste,1,1,4,0.1,Asia
172,172,Togo,36,2,19,1.3,Africa
173,173,Tonga,36,21,5,1.1,Oceania
174,174,Trinidad & Tobago,197,156,7,6.4,North America
175,175,Tunisia,51,3,20,1.3,Africa
176,176,Turkey,51,22,7,1.4,Asia
177,177,Turkmenistan,19,71,32,2.2,Asia
178,178,Tuvalu,6,41,9,1.0,Oceania
179,179,Uganda,45,9,0,8.3,Africa
180,180,Ukraine,206,237,45,8.9,Europe
181,181,United Arab Emirates,16,135,5,2.8,Asia
182,182,United Kingdom,219,126,195,10.4,Europe
183,183,Tanzania,36,6,1,5.7,Africa
184,184,USA,249,158,84,8.7,North America
185,185,Uruguay,115,35,220,6.6,South America
186,186,Uzbekistan,25,101,8,2.4,Asia
187,187,Vanuatu,21,18,11,0.9,Oceania
188,188,Venezuela,333,100,3,7.7,South America
189,189,Vietnam,111,2,1,2.0,Asia
190,190,Yemen,6,0,0,0.1,Asia
191,191,Zambia,32,19,4,2.5,Africa
192,192,Zimbabwe,64,18,4,4.7,Africa

In [80]:
# dts.loc[0]=

In [81]:
dts3.sort_values(['beer_servings','spirit_servings'],ascending=[False,True])

,index,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
117,117,Namibia,376,3,1,6.8,Africa
45,45,Czech Republic,361,170,134,11.8,Europe
62,62,Gabon,347,98,59,8.9,Africa
65,65,Germany,346,117,175,11.3,Europe
135,135,Poland,343,215,56,10.9,Europe
98,98,Lithuania,343,244,56,12.9,Europe
188,188,Venezuela,333,100,3,7.7,South America
81,81,Ireland,313,118,165,11.4,Europe
129,129,Palau,306,63,23,6.9,Oceania
140,140,Romania,297,122,167,10.4,Europe
16,16,Belgium,295,84,212,10.5,Europe
130,130,Panama,285,104,18,7.2,North America
160,160,Spain,284,157,112,10.0,Europe
151,151,Serbia,283,131,127,9.6,Europe
93,93,Latvia,281,216,62,10.5,Europe
9,9,Austria,279,75,191,9.7,Europe
156,156,Slovenia,270,51,276,10.6,Europe
17,17,Belize,263,114,8,6.8,North America
60,60,Finland,263,133,97,10.0,Europe
8,8,Australia,261,72,212,10.4,Oceania
120,120,Netherlands,251,88,190,9.4,Europe
184,184,USA,249,158,84,8.7,North America
141,141,Russian Federation,247,326,73,11.5,Asia
3,3,Andorra,245,138,312,12.4,Europe
23,23,Brazil,245,145,16,7.2,South America
32,32,Canada,240,122,100,8.2,North America
109,109,Mexico,238,68,5,5.5,North America
99,99,Luxembourg,236,133,271,11.4,Europe
75,75,Hungary,234,215,185,11.3,Europe
76,76,Iceland,233,61,78,6.6,Europe
...,...,...,...,...,...,...,...
162,162,Sudan,8,13,0,1.7,Africa
190,190,Yemen,6,0,0,0.1,Asia
53,53,Egypt,6,4,1,0.2,Africa
86,86,Jordan,6,21,1,0.5,Asia
178,178,Tuvalu,6,41,9,1.0,Oceania
78,78,Indonesia,5,1,0,0.1,Asia
104,104,Mali,5,1,1,0.6,Africa
116,116,Myanmar,5,1,0,0.1,Asia
119,119,Nepal,5,6,0,0.2,Asia
167,167,Syria,5,35,16,1.0,Asia
123,123,Niger,3,2,1,0.1,Africa
168,168,Tajikistan,2,15,0,0.3,Asia
171,171,Timor-Leste,1,1,4,0.1,Asia
38,38,Comoros,1,3,1,0.1,Africa
137,137,Qatar,1,42,7,0.9,Asia
73,73,Haiti,1,326,1,5.9,North America
13,13,Bangladesh,0,0,0,0.0,Asia
46,46,North Korea,0,0,0,0.0,Asia
79,79,Iran,0,0,0,0.0,Asia
90,90,Kuwait,0,0,0,0.0,Asia
97,97,Libya,0,0,0,0.0,Africa
103,103,Maldives,0,0,0,0.0,Asia
106,106,Marshall Islands,0,0,0,0.0,Oceania
107,107,Mauritania,0,0,0,0.0,Africa
111,111,Monaco,0,0,0,0.0,Europe
128,128,Pakistan,0,0,0,0.0,Asia
147,147,San Marino,0,0,0,0.0,Europe
158,158,Somalia,0,0,0,0.0,Africa
149,149,Saudi Arabia,0,5,0,0.1,Asia
40,40,Cook Islands,0,254,74,5.9,Oceania

In [82]:
dts4=pd.read_csv('https://bit.ly/uforeports')

In [83]:
dts4.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [84]:
dts4.shape

(18241, 5)

In [85]:
dts4.dropna().shape
# jitne nan hai usko hta do

(2486, 5)

In [86]:
dts4.dropna(how='any').shape,dts4.dropna(how='all').shape
# any means jitne nan sabko hta do
# all means agar pure index me nan hai tab hi hatega othewise nhi.

((2486, 5), (18241, 5))

In [87]:
dts4.fillna('kuch bhi')
# fillna used for fill data in place of nan kuch na kuch

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,kuch bhi,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,kuch bhi,OTHER,NJ,6/30/1930 20:00
2,Holyoke,kuch bhi,OVAL,CO,2/15/1931 14:00
3,Abilene,kuch bhi,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,kuch bhi,LIGHT,NY,4/18/1933 19:00
5,Valley City,kuch bhi,DISK,ND,9/15/1934 15:30
6,Crater Lake,kuch bhi,CIRCLE,CA,6/15/1935 0:00
7,Alma,kuch bhi,DISK,MI,7/15/1936 0:00
8,Eklutna,kuch bhi,CIGAR,AK,10/15/1936 17:00
9,Hubbard,kuch bhi,CYLINDER,OR,6/15/1937 0:00
10,Fontana,kuch bhi,LIGHT,CA,8/15/1937 21:00
11,Waterloo,kuch bhi,FIREBALL,AL,6/1/1939 20:00
12,Belton,RED,SPHERE,SC,6/30/1939 20:00
13,Keokuk,kuch bhi,OVAL,IA,7/7/1939 2:00
14,Ludington,kuch bhi,DISK,MI,6/1/1941 13:00
15,Forest Home,kuch bhi,CIRCLE,CA,7/2/1941 11:30
16,Los Angeles,kuch bhi,kuch bhi,CA,2/25/1942 0:00
17,Hapeville,kuch bhi,kuch bhi,GA,6/1/1942 22:30
18,Oneida,kuch bhi,RECTANGLE,TN,7/15/1942 1:00
19,Bering Sea,RED,OTHER,AK,4/30/1943 23:00
20,Nebraska,kuch bhi,DISK,NE,6/1/1943 15:00
21,kuch bhi,kuch bhi,kuch bhi,LA,8/15/1943 0:00
22,kuch bhi,kuch bhi,LIGHT,LA,8/15/1943 0:00
23,Owensboro,kuch bhi,RECTANGLE,KY,10/15/1943 11:00
24,Wilderness,kuch bhi,DISK,WV,1/1/1944 10:00
25,San Diego,kuch bhi,CIGAR,CA,1/1/1944 12:00
26,Wilderness,kuch bhi,DISK,WV,1/1/1944 12:00
27,Clovis,kuch bhi,DISK,NM,4/2/1944 11:00
28,Los Alamos,kuch bhi,DISK,NM,6/1/1944 12:00
29,Ft. Duschene,kuch bhi,DISK,UT,6/30/1944 10:00
...,...,...,...,...,...
18211,Holyoke,kuch bhi,DIAMOND,MA,12/28/2000 18:00
18212,Carson,kuch bhi,DISK,CA,12/28/2000 18:20
18213,Pasadena,GREEN,FIREBALL,CA,12/28/2000 19:10
18214,Austin,kuch bhi,FORMATION,TX,12/29/2000 0:00
18215,El Campo,kuch bhi,OTHER,TX,12/29/2000 9:00
18216,Garden Grove,ORANGE,LIGHT,CA,12/29/2000 16:10
18217,Berthoud Pass,kuch bhi,TRIANGLE,CO,12/29/2000 19:30
18218,Sisterdale,kuch bhi,DIAMOND,TX,12/29/2000 20:00
18219,Garden Grove,kuch bhi,CHEVRON,CA,12/29/2000 20:30
18220,Shasta Lake,BLUE,DISK,CA,12/29/2000 20:30
18221,Franklin,kuch bhi,DISK,NH,12/29/2000 20:50
18222,Albrightsville,kuch bhi,OTHER,PA,12/29/2000 21:00
18223,Greenville,kuch bhi,kuch bhi,SC,12/29/2000 22:00
18224,Eufaula,kuch bhi,DISK,OK,12/29/2000 23:30
18225,Simi Valley,kuch bhi,FORMATION,CA,12/30/2000 10:00
18226,San Francisco,kuch bhi,FORMATION,CA,12/30/2000 22:00
18227,San Francisco,kuch bhi,TRIANGLE,CA,12/30/2000 22:00
18228,Kingsville,kuch bhi,LIGHT,TX,12/31/2000 4:00
18229,Chicago,kuch bhi,DISK,IL,12/31/2000 11:45
18230,Pismo Beach,kuch bhi,OVAL,CA,12/31/2000 20:00
18231,Pismo Beach,kuch bhi,OVAL,CA,12/31/2000 20:00
18232,Lodi,kuch bhi,kuch bhi,WI,12/31/2000 20:30
18233,Anchorage,RED,VARIOUS,AK,12/31/2000 21:00
18234,Capitola,kuch bhi,TRIANGLE,CA,12/31/2000 22:00
18235,Fountain Hills,kuch bhi,kuch bhi,AZ,12/31/2000 23:00
18236,Grant Park,kuch bhi,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,kuch bhi,DISK,IA,12/31/2000 23:00
18238,Eagle River,kuch bhi,kuch bhi,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,kuch bhi,OVAL,FL,12/31/2000 23:59

In [88]:
dts4[dts4['Colors Reported'].isnull()]

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
5,Valley City,NaN,DISK,ND,9/15/1934 15:30
6,Crater Lake,NaN,CIRCLE,CA,6/15/1935 0:00
7,Alma,NaN,DISK,MI,7/15/1936 0:00
8,Eklutna,NaN,CIGAR,AK,10/15/1936 17:00
9,Hubbard,NaN,CYLINDER,OR,6/15/1937 0:00
10,Fontana,NaN,LIGHT,CA,8/15/1937 21:00
11,Waterloo,NaN,FIREBALL,AL,6/1/1939 20:00
13,Keokuk,NaN,OVAL,IA,7/7/1939 2:00
14,Ludington,NaN,DISK,MI,6/1/1941 13:00
15,Forest Home,NaN,CIRCLE,CA,7/2/1941 11:30
16,Los Angeles,NaN,NaN,CA,2/25/1942 0:00
17,Hapeville,NaN,NaN,GA,6/1/1942 22:30
18,Oneida,NaN,RECTANGLE,TN,7/15/1942 1:00
20,Nebraska,NaN,DISK,NE,6/1/1943 15:00
21,NaN,NaN,NaN,LA,8/15/1943 0:00
22,NaN,NaN,LIGHT,LA,8/15/1943 0:00
23,Owensboro,NaN,RECTANGLE,KY,10/15/1943 11:00
24,Wilderness,NaN,DISK,WV,1/1/1944 10:00
25,San Diego,NaN,CIGAR,CA,1/1/1944 12:00
26,Wilderness,NaN,DISK,WV,1/1/1944 12:00
27,Clovis,NaN,DISK,NM,4/2/1944 11:00
28,Los Alamos,NaN,DISK,NM,6/1/1944 12:00
29,Ft. Duschene,NaN,DISK,UT,6/30/1944 10:00
30,South Kingstown,NaN,SPHERE,RI,7/1/1944 20:00
31,North Tampa,NaN,CYLINDER,FL,7/15/1944 13:00
...,...,...,...,...,...
18205,Havre,NaN,DISK,MT,12/28/2000 4:00
18206,Cerrilillo,NaN,NaN,NM,12/28/2000 11:00
18207,Mansfield,NaN,FLASH,TX,12/28/2000 12:00
18208,Murphreesboro,NaN,FLASH,TN,12/28/2000 12:15
18209,Houston,NaN,LIGHT,TX,12/28/2000 17:09
18211,Holyoke,NaN,DIAMOND,MA,12/28/2000 18:00
18212,Carson,NaN,DISK,CA,12/28/2000 18:20
18214,Austin,NaN,FORMATION,TX,12/29/2000 0:00
18215,El Campo,NaN,OTHER,TX,12/29/2000 9:00
18217,Berthoud Pass,NaN,TRIANGLE,CO,12/29/2000 19:30
18218,Sisterdale,NaN,DIAMOND,TX,12/29/2000 20:00
18219,Garden Grove,NaN,CHEVRON,CA,12/29/2000 20:30
18221,Franklin,NaN,DISK,NH,12/29/2000 20:50
18222,Albrightsville,NaN,OTHER,PA,12/29/2000 21:00
18223,Greenville,NaN,NaN,SC,12/29/2000 22:00
18224,Eufaula,NaN,DISK,OK,12/29/2000 23:30
18225,Simi Valley,NaN,FORMATION,CA,12/30/2000 10:00
18226,San Francisco,NaN,FORMATION,CA,12/30/2000 22:00
18227,San Francisco,NaN,TRIANGLE,CA,12/30/2000 22:00
18228,Kingsville,NaN,LIGHT,TX,12/31/2000 4:00
18229,Chicago,NaN,DISK,IL,12/31/2000 11:45
18230,Pismo Beach,NaN,OVAL,CA,12/31/2000 20:00
18231,Pismo Beach,NaN,OVAL,CA,12/31/2000 20:00
18232,Lodi,NaN,NaN,WI,12/31/2000 20:30
18234,Capitola,NaN,TRIANGLE,CA,12/31/2000 22:00
18235,Fountain Hills,NaN,NaN,AZ,12/31/2000 23:00
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

In [89]:
dts4[~(dts4["Colors Reported"].isnull())]

,City,Colors Reported,Shape Reported,State,Time
12,Belton,RED,SPHERE,SC,6/30/1939 20:00
19,Bering Sea,RED,OTHER,AK,4/30/1943 23:00
36,Portsmouth,RED,FORMATION,VA,7/10/1945 1:30
44,Blairsden,GREEN,SPHERE,CA,6/30/1946 19:00
66,Wexford,BLUE,NaN,PA,7/1/1947 20:00
82,San Jose,BLUE,CHEVRON,CA,7/15/1947 21:00
84,Modesto,BLUE,DISK,CA,8/8/1947 22:00
91,Scipio,RED,SPHERE,IN,5/10/1948 19:00
111,Tarrant City,ORANGE,CIRCLE,AL,8/15/1949 22:00
120,Roswell,RED,NaN,NM,3/22/1950 0:00
129,Napa,GREEN,DISK,CA,6/10/1950 0:00
138,Coeur d'Alene,ORANGE,CIGAR,ID,7/2/1950 13:00
152,Irving,BLUE,DISK,KS,4/15/1951 0:30
157,Greenville,GREEN,DISK,MS,6/15/1951 20:30
163,Green River,GREEN,SPHERE,WY,7/3/1951 12:00
164,Provo,BLUE,DISK,UT,7/10/1951 23:30
174,Greenville,ORANGE,TRIANGLE,TX,4/15/1952 16:00
178,Norfolk,RED,FIREBALL,VA,6/1/1952 22:00
202,Arlington,GREEN,OVAL,VA,7/13/1952 21:00
226,Cambridge,RED,SPHERE,MA,4/1/1953 18:00
229,Midwest City,YELLOW,FIREBALL,OK,4/15/1953 16:00
238,Cleveland,RED,FIREBALL,OH,6/30/1953 0:00
241,NaN,BLUE,DISK,MT,7/4/1953 14:00
249,Artesia,ORANGE,OTHER,NM,8/15/1953 19:00
256,Pendleton,GREEN,DISK,IN,11/21/1953 22:30
288,St. Louis Airport,RED,OVAL,MO,7/1/1954 21:00
289,Los Angeles,RED,CIRCLE,CA,7/1/1954 22:00
304,Beaumont,RED,DISK,TX,9/9/1954 12:30
311,Red Bank,ORANGE,CIRCLE,NJ,12/15/1954 23:10
314,Holbrook,YELLOW,EGG,MA,5/1/1955 15:00
...,...,...,...,...,...
18115,Madison,RED GREEN,TEARDROP,OH,12/12/2000 18:45
18117,Concord,RED GREEN,CIRCLE,NH,12/12/2000 23:10
18121,Redwood Valley,BLUE,LIGHT,CA,12/15/2000 1:09
18123,Waldorf,GREEN,LIGHT,MD,12/15/2000 5:30
18127,North Pole,ORANGE,SPHERE,AK,12/15/2000 16:36
18129,Beaver,RED,DISK,PA,12/15/2000 18:25
18134,Graham,GREEN,LIGHT,WA,12/16/2000 0:20
18141,Sebastopol,YELLOW,CIRCLE,CA,12/17/2000 18:00
18144,Medina,ORANGE,TRIANGLE,OH,12/17/2000 19:30
18148,Highland Park,BLUE,VARIOUS,NJ,12/18/2000 2:30
18158,Woodland,ORANGE,LIGHT,CA,12/19/2000 23:30
18167,Gilbert,RED,CIRCLE,AZ,12/21/2000 19:05
18169,Amhearst,BLUE,NaN,OH,12/21/2000 23:56
18170,MM 110,BLUE,CIRCLE,AZ,12/22/2000 3:00
18172,Toomsuba,RED,OVAL,MS,12/23/2000 4:00
18177,Chandler,RED,LIGHT,AZ,12/23/2000 22:00
18181,Fortuna,ORANGE,CIRCLE,CA,12/24/2000 18:00
18184,Plymouth,GREEN,FIREBALL,OH,12/24/2000 22:00
18191,Fallston,RED,VARIOUS,MD,12/25/2000 19:15
18192,Atlanta,ORANGE,LIGHT,GA,12/25/2000 20:30
18194,Walpole,GREEN,FIREBALL,NH,12/26/2000 18:20
18195,Walpole,GREEN,FIREBALL,NH,12/26/2000 18:20
18196,Brocton,GREEN,OVAL,MA,12/26/2000 18:23
18197,Greenfiled,GREEN,FIREBALL,MA,12/26/2000 18:30
18210,Monument Valley,BLUE,OTHER,UT,12/28/2000 17:51
18213,Pasadena,GREEN,FIREBALL,CA,12/28/2000 19:10
18216,Garden Grove,ORANGE,LIGHT,CA,12/29/2000 16:10
18220,Shasta Lake,BLUE,DISK,CA,12/29/2000 20:30
18233,Anchorage,RED,VARIOUS,AK,12/31/2000 21:00
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45

In [90]:
dts4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18241 entries, 0 to 18240
Data columns (total 5 columns):
City               18216 non-null object
Colors Reported    2882 non-null object
Shape Reported     15597 non-null object
State              18241 non-null object
Time               18241 non-null object
dtypes: object(5)
memory usage: 712.6+ KB

In [91]:
dts4.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18241 entries, 0 to 18240
Data columns (total 5 columns):
City               18216 non-null object
Colors Reported    2882 non-null object
Shape Reported     15597 non-null object
State              18241 non-null object
Time               18241 non-null object
dtypes: object(5)
memory usage: 5.1 MB

dts4.memory_usage().u