In [9]:
import pandas as pd

In [10]:
data=pd.read_csv('ucicancer.csv')

In [11]:
data

     Unnamed: 0        a   b   c   d   e  f   g   h   i  j  class
0             0  1002945   5   4   4   5  7  10   3   2  1      2
1             1  1015425   3   1   1   1  2   2   3   1  1      2
2             2  1016277   6   8   8   1  3   4   3   7  1      2
3             3  1017023   4   1   1   3  2   1   3   1  1      2
4             4  1017122   8  10  10   8  7  10   9   7  1      4
5             5  1018099   1   1   1   1  2  10   3   1  1      2
6             6  1018561   2   1   2   1  2   1   3   1  1      2
7             7  1033078   2   1   1   1  2   1   1   1  5      2
8             8  1033078   4   2   1   1  2   1   2   1  1      2
9             9  1035283   1   1   1   1  1   1   3   1  1      2
10           10  1036172   2   1   1   1  2   1   2   1  1      2
11           11  1041801   5   3   3   3  2   3   4   4  1      4
12           12  1043999   1   1   1   1  2   3   3   1  1      2
13           13  1044572   8   7   5  10  7   9   5   5  4      4
14           14  1047630   7   4   6   4  6   1   4   3  1      4
15           15  1048672   4   1   1   1  2   1   2   1  1      2
16           16  1049815   4   1   1   1  2   1   3   1  1      2
17           17  1050670  10   7   7   6  4  10   4   1  2      4
18           18  1050718   6   1   1   1  2   1   3   1  1      2
19           19  1054590   7   3   2  10  5  10   5   4  4      4
20           20  1054593  10   5   5   3  6   7   7  10  1      4
21           21  1056784   3   1   1   1  2   1   2   1  1      2
22           22  1057013   8   4   5   1  2   ?   7   3  1      4
23           23  1059552   1   1   1   1  2   1   3   1  1      2
24           24  1065726   5   2   3   4  2   7   3   6  1      4
25           25  1066373   3   2   1   1  1   1   2   1  1      2
26           26  1066979   5   1   1   1  2   1   2   1  1      2
27           27  1067444   2   1   1   1  2   1   2   1  1      2
28           28  1070935   1   1   3   1  2   1   1   1  1      2
29           29  1070935   3   1   1   1  1   1   2   1  1      2
..          ...      ...  ..  ..  ..  .. ..  ..  ..  .. ..    ...
668         668  1350423   5  10  10   8  5   5   7  10  1      4
669         669  1352848   3  10   7   8  5   8   7   4  1      4
670         670  1353092   3   2   1   2  2   1   3   1  1      2
671         671  1354840   2   1   1   1  2   1   3   1  1      2
672         672  1354840   5   3   2   1  3   1   1   1  1      2
673         673  1355260   1   1   1   1  2   1   2   1  1      2
674         674  1365075   4   1   4   1  2   1   1   1  1      2
675         675  1365328   1   1   2   1  2   1   2   1  1      2
676         676  1368267   5   1   1   1  2   1   1   1  1      2
677         677  1368273   1   1   1   1  2   1   1   1  1      2
678         678  1368882   2   1   1   1  2   1   1   1  1      2
679         679  1369821  10  10  10  10  5  10  10  10  7      4
680         680  1371026   5  10  10  10  4  10   5   6  3      4
681         681  1371920   5   1   1   1  2   1   3   2  1      2
682         682   466906   1   1   1   1  2   1   1   1  1      2
683         683   466906   1   1   1   1  2   1   1   1  1      2
684         684   534555   1   1   1   1  2   1   1   1  1      2
685         685   536708   1   1   1   1  2   1   1   1  1      2
686         686   566346   3   1   1   1  2   1   2   3  1      2
687         687   603148   4   1   1   1  2   1   1   1  1      2
688         688   654546   1   1   1   1  2   1   1   1  8      2
689         689   654546   1   1   1   3  2   1   1   1  1      2
690         690   695091   5  10  10   5  4   5   4   4  1      4
691         691   714039   3   1   1   1  2   1   1   1  1      2
692         692   763235   3   1   1   1  2   1   2   1  2      2
693         693   776715   3   1   1   1  3   2   1   1  1      2
694         694   841769   2   1   1   1  2   1   1   1  1      2
695         695   888820   5  10  10   3  7   3   8  10  2      4
696         696   897471   4   8   6   4  3   4  10   6  1      4
697         697   897471   4   8   8   5  4   5  10   4  1      4

[698 rows x 12 columns]

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 698 entries, 0 to 697
Data columns (total 12 columns):
Unnamed: 0    698 non-null int64
a             698 non-null int64
b             698 non-null int64
c             698 non-null int64
d             698 non-null int64
e             698 non-null int64
f             698 non-null int64
g             698 non-null object
h             698 non-null int64
i             698 non-null int64
j             698 non-null int64
class         698 non-null int64
dtypes: int64(11), object(1)
memory usage: 65.5+ KB

In [14]:
data=data.replace('?',15)

In [15]:
x=data[['b','c','d','e','f','g','h','i','j']]
y=data['class']

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x_tr,x_ts,y_tr,y_ts=train_test_split(x,y,test_size=0.2)

In [18]:
data.head()

   Unnamed: 0        a  b   c   d  e  f   g  h  i  j  class
0           0  1002945  5   4   4  5  7  10  3  2  1      2
1           1  1015425  3   1   1  1  2   2  3  1  1      2
2           2  1016277  6   8   8  1  3   4  3  7  1      2
3           3  1017023  4   1   1  3  2   1  3  1  1      2
4           4  1017122  8  10  10  8  7  10  9  7  1      4

In [33]:
d=dict.fromkeys(y_tr)
for i in d:
    d[i]=dict.fromkeys(range(x_tr.shape[1]))
for i in d:
    for j in d[i]:
        d[i][j]=[]
for i in range(len(x_tr)):
    for j in range(x_tr.shape[1]):
        d[y_tr.iloc[i]][j].append(x_tr.iloc[i,j])
for i in d:
    for j in d[i]:
        d[i][j]=dict(pd.Series(d[i][j]).value_counts(normalize=True)) # normalize =true for probability
d

{4: {0: {10: 0.3010204081632653,
   8: 0.1836734693877551,
   5: 0.17346938775510204,
   6: 0.08163265306122448,
   7: 0.07653061224489796,
   3: 0.061224489795918366,
   9: 0.05612244897959184,
   4: 0.03571428571428571,
   2: 0.015306122448979591,
   1: 0.015306122448979591},
  1: {10: 0.28061224489795916,
   4: 0.12755102040816327,
   5: 0.11734693877551021,
   3: 0.11224489795918367,
   8: 0.10714285714285714,
   6: 0.10714285714285714,
   7: 0.08163265306122448,
   2: 0.03571428571428571,
   1: 0.02040816326530612,
   9: 0.01020408163265306},
  2: {10: 0.23469387755102042,
   4: 0.14285714285714285,
   5: 0.1326530612244898,
   8: 0.11734693877551021,
   7: 0.10714285714285714,
   6: 0.10204081632653061,
   3: 0.10204081632653061,
   9: 0.025510204081632654,
   2: 0.025510204081632654,
   1: 0.01020408163265306},
  3: {10: 0.23979591836734693,
   1: 0.14285714285714285,
   4: 0.11224489795918367,
   8: 0.09183673469387756,
   3: 0.08673469387755102,
   2: 0.08673469387755102,
   6: 0.08163265306122448,
   5: 0.07653061224489796,
   7: 0.061224489795918366,
   9: 0.02040816326530612},
  4: {3: 0.17857142857142858,
   6: 0.1683673469387755,
   4: 0.16326530612244897,
   5: 0.14285714285714285,
   10: 0.10714285714285714,
   2: 0.10204081632653061,
   8: 0.08163265306122448,
   7: 0.04081632653061224,
   9: 0.01020408163265306,
   1: 0.00510204081632653},
  5: {'10': 0.5306122448979592,
   '5': 0.08673469387755102,
   '8': 0.07653061224489796,
   '1': 0.05612244897959184,
   '3': 0.05612244897959184,
   '4': 0.05612244897959184,
   '9': 0.04081632653061224,
   '2': 0.03571428571428571,
   '7': 0.030612244897959183,
   '6': 0.02040816326530612,
   15: 0.01020408163265306},
  6: {7: 0.2755102040816326,
   3: 0.14795918367346939,
   4: 0.1326530612244898,
   5: 0.12244897959183673,
   8: 0.11224489795918367,
   10: 0.07142857142857142,
   9: 0.05102040816326531,
   6: 0.04081632653061224,
   2: 0.03571428571428571,
   1: 0.01020408163265306},
  7: {10: 0.2602040816326531,
   1: 0.15816326530612246,
   3: 0.12755102040816327,
   8: 0.08163265306122448,
   5: 0.08163265306122448,
   9: 0.07142857142857142,
   4: 0.07142857142857142,
   6: 0.0663265306122449,
   7: 0.061224489795918366,
   2: 0.02040816326530612},
  8: {1: 0.5408163265306123,
   3: 0.1326530612244898,
   2: 0.10714285714285714,
   4: 0.061224489795918366,
   10: 0.05612244897959184,
   8: 0.03571428571428571,
   7: 0.03571428571428571,
   5: 0.02040816326530612,
   6: 0.01020408163265306}},
 2: {0: {1: 0.30386740331491713,
   3: 0.2154696132596685,
   5: 0.1850828729281768,
   4: 0.1464088397790055,
   2: 0.09392265193370165,
   6: 0.04143646408839779,
   8: 0.011049723756906077,
   7: 0.0027624309392265192},
  1: {1: 0.8259668508287292,
   2: 0.08287292817679558,
   3: 0.06077348066298342,
   4: 0.019337016574585635,
   6: 0.0055248618784530384,
   9: 0.0027624309392265192,
   7: 0.0027624309392265192},
  2: {1: 0.7596685082872928,
   2: 0.11602209944751381,
   3: 0.08011049723756906,
   4: 0.024861878453038673,
   5: 0.008287292817679558,
   7: 0.0055248618784530384,
   6: 0.0055248618784530384},
  3: {1: 0.8038674033149171,
   2: 0.0856353591160221,
   3: 0.07458563535911603,
   6: 0.011049723756906077,
   4: 0.011049723756906077,
   5: 0.008287292817679558,
   10: 0.0027624309392265192,
   9: 0.0027624309392265192},
  4: {2: 0.7707182320441989,
   1: 0.10773480662983426,
   3: 0.06906077348066299,
   4: 0.019337016574585635,
   5: 0.013812154696132596,
   8: 0.0055248618784530384,
   7: 0.0055248618784530384,
   6: 0.0055248618784530384,
   10: 0.0027624309392265192},
  5: {'1': 0.8425414364640884,
   '2': 0.04696132596685083,
   '3': 0.03591160220994475,
   15: 0.03314917127071823,
   '5': 0.019337016574585635,
   '4': 0.011049723756906077,
   '8': 0.0055248618784530384,
   '7': 0.0027624309392265192,
   '10': 0.0027624309392265192},
  6: {2: 0.3453038674033149,
   1: 0.3287292817679558,
   3: 0.27624309392265195,
   4: 0.022099447513812154,
   7: 0.019337016574585635,
   5: 0.0055248618784530384,
   6: 0.0027624309392265192},
  7: {1: 0.8646408839779005,
   2: 0.06629834254143646,
   3: 0.03314917127071823,
   8: 0.011049723756906077,
   6: 0.011049723756906077,
   5: 0.0055248618784530384,
   9: 0.0027624309392265192,
   7: 0.0027624309392265192,
   4: 0.0027624309392265192},
  8: {1: 0.9696132596685083,
   2: 0.019337016574585635,
   3: 0.0055248618784530384,
   7: 0.0027624309392265192,
   5: 0.0027624309392265192}}}

In [34]:
data.head()

   Unnamed: 0        a  b   c   d  e  f   g  h  i  j  class
0           0  1002945  5   4   4  5  7  10  3  2  1      2
1           1  1015425  3   1   1  1  2   2  3  1  1      2
2           2  1016277  6   8   8  1  3   4  3  7  1      2
3           3  1017023  4   1   1  3  2   1  3  1  1      2
4           4  1017122  8  10  10  8  7  10  9  7  1      4

In [12]:
class_prob=dict(y_tr.value_counts(normalize=True))

In [24]:
c=dict(y_tr)
y_tr.value_counts(normalize=True)

2    0.654122
4    0.345878
Name: class, dtype: float64

In [13]:
class_prob

{2: 0.6541218637992832, 4: 0.34587813620071683}

In [14]:
y_ts.iloc[0]

2

In [15]:
def fun(prd,d):
    cl=class_prob.copy()
    for i in range(len(prd)):
        for j in d:
            cl[j]+=d[j][i].get(prd.iloc[i],0)
    return max(cl,key=cl.get)
fun(x_ts.iloc[0],d)

2

In [16]:
c=0
for i in range(x_ts.shape[0]):
    if fun(x_ts.iloc[i],d)==y_ts.iloc[i]:
        c+=1
print(c)
c/x_ts.shape[0]

127

0.9071428571428571